{% extends "members/base.html" %}

{% block css %}
    <style>
    .registerform {
        margin: 0 105px 15px;
        padding-top: 45px;
    }
    .registerform .inputxt {
        padding: 3px 2px;
    }
    .registerform td{
        display: block;
        float: left;
    }
    .phpadd td{
        padding-bottom: 20px;
    }
    .fangbiang{
        margin-left: 50px;
    }
    </style>
{% endblock %}

{% block js %}
	<script  src="/static/members/cy_images/js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<!-- loand -->
    <script  src="/static/members/cy_images/js/Validform_v5.3.2_min.js" type="text/javascript"></script>
    <script  src="/static/members/cy_images/js/passwordStrength-min.js" type="text/javascript"></script>
    <script  src="/static/members/cy_images/js/loand.js" type="text/javascript"></script>
    <!-- zhuce -->
    <script src="/static/members/cy_images/js/zhuce.js" type="text/javascript"></script>
{% endblock %}
{% block main %}
    <div class="content" style="margin: 0 auto;">
            <div class="information">
                <div class="inputout" style="width: 800px;">
                    <h3>设置背景音乐</h3>
                    <div class="zcxx">
                        <form class="registerform" method="post" action="">
                            <table >
                                <tr class="phpadd">
                                    <td class="zcxxa"><span>*</span>背景音乐地址：</td>
                                    <td>
                                        <input type="text" value="" name="tel" class="inputxt" datatype="m" nullmsg="请输入背景音乐地址！" errormsg="请输入背景音乐地址！" />
                                    </td>
                                    <td>
                                        <div class="info"><span class="Validform_checktip">请输入背景音乐地址</span><span class="dec"><s class="dec1">&#9670;</s><s class="dec2">&#9670;</s></span></div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <div class="inputsubmit regisspan ">
			      	  	  	<a href="#">点击保存</a>
			      	  	  </div>
                    </div>
                </div>
            </div>
        </div><div class="clear"></div>
{% endblock %}

