<div class="clear"></div>
<div id="footer">
	<div class="footer w1000">
    	<ul>
            	<li><a href="/" target="_blank">网站首页</a></li>
                <li><a href="/zhiyuw/ktq" target="_blank">开拓圈</a></li>
                <li><a href="/zhiyuw/gyq" target="_blank">耕耘群</a></li>
                <li><a href="/zhiyuw/alh" target="_blank">CFO家园</a></li>
                <li><a href="/zhiyuw/xxc" target="_blank">信息窗</a></li>
                <li><a href="/zhiyuw/zyk" target="_blank">资源库</a></li>
                <li><a href="/zhiyuw/fsb" target="_blank">放松吧</a></li>
                <li><a href="/zhiyuw/nxt" target="_blank">纳贤台</a></li>
                <li><a href="/zhiyuw/bw" target="_blank">博文</a></li>
                <li><a href="/zhiyuw/gbook" target="_blank">留言栏</a></li>
                <li><a href="/zhiyuw/contact" target="_blank"> 联系我们</a></li>
            </ul>
            <p>CopyRight © 2015 会员中心, All Rights Reserved.</p>
    </div>
</div><div class="clear"></div>
<script type="text/javascript">
    $(".leftsidebar_box dt").css({"background-color":"#3992d0"});
    $(".leftsidebar_box dt img").attr("src","/static/members/cy_images/images/left/select_xl01.png");
    $(function(){
        $(".leftsidebar_box dd").hide();
        $(".leftsidebar_box dt").click(function(){
            $(".leftsidebar_box dt").css({"background-color":"#3992d0"})
            $(this).css({"background-color": "#317eb4"});
            $(this).parent().find('dd').removeClass("menu_chioce");
            $(".leftsidebar_box dt img").attr("src","/static/members/cy_images/images/left/select_xl01.png");
            $(this).parent().find('img').attr("src","/static/members/cy_images/images/left/select_xl.png");
            $(".menu_chioce").slideUp();
            $(this).parent().find('dd').slideToggle();
            $(this).parent().find('dd').addClass("menu_chioce");
        });
    })

    function changeImage(){

    }
</script>
<script>
var mp3snd = "{{request.session.info.bgmusic}}";
            var bkcolor = "000000";

            if ( navigator.userAgent.toLowerCase().indexOf( "msie" ) != -1 ) {
            document.write('<bgsound id="bgmusic" src="'+mp3snd+'" loop="-1">');
            }
            else if ( navigator.userAgent.toLowerCase().indexOf( "firefox" ) != -1 ) {
            document.write('<object id="bgmusic" data="'+mp3snd+'" type="application/x-mplayer2" width="0" height="0">');
            document.write('<param name="filename" value="'+mp3snd+'">');
            document.write('<param name="autostart" value="1">');
            document.write('<param name="playcount" value="infinite">');
            document.write('</object>');
            }
            else {
            document.write('<audio id="bgmusic" src="'+mp3snd+'" autoplay="autoplay" loop="loop">');
            document.write('<object data="'+mp3snd+'" type="application/x-mplayer2" width="0" height="0">');
            document.write('<param name="filename" value="'+mp3snd+'">');
            document.write('<param name="autostart" value="1">');
            document.write('<embed height="2" width="2" src="'+mp3snd+'" pluginspage="http://www.apple.com/quicktime/download/" type="video/quicktime" controller="false" controls="false" autoplay="true" autostart="true" loop="true" bgcolor="#'+bkcolor+'"><br>');
            document.write('</embed></object>');
            document.write('</audio>');
            }
</script>
</body>
</html>
