{% extends "members/base.html" %}

{% block main %}

<table width="820px" border="0" cellspacing="0" cellpadding="0">
  <tr >
    <td height="30"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr >
        <td width="12" height="30"></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr >
            <td width="46%" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="5%"><div align="center"><img src="/static/members/cy_images/images/tb.gif" width="16" height="16" /></div></td>
                <td width="95%" class="STYLE1"><span class="STYLE3">您当前的位置</span>：首页</td>
              </tr>
            </table></td>
            <td width="54%"><table border="0" align="right" cellpadding="0" cellspacing="0">
              <tr>
                <td width="60" style="display:none;"><table width="87%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center">
                      <input type="checkbox" name="checkbox62" value="checkbox" />
                    </div></td>
                    <td class="STYLE1"><div align="center">全选</div></td>
                  </tr>
                </table></td>
                <td width="60"><table width="90%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center"><img src="/static/members/cy_images/images/22.gif" width="14" height="14" /></div></td>
                    <td class="STYLE1"><a align="center" href="/members/post/new/">新增</a></td>
                  </tr>
                </table></td>
                <td width="60" style="display:none;"><table width="90%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center"><img src="/static/members/cy_images/images/33.gif" width="14" height="14" /></div></td>
                    <td class="STYLE1"><a align="center">修改</a></td>
                  </tr>
                </table></td>
                <td width="52" style="display:none;"><table width="88%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="STYLE1"><div align="center"><img src="/static/members/cy_images/images/11.gif" width="14" height="14" /></div></td>
                    <td class="STYLE1"><div align="center">删除</div></td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="16"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
      <tr >
        <td width="8" >&nbsp;</td>
        <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="3%" height="31" background="/static/members/cy_images/images/bg.gif" bgcolor="#FFFFFF"><div align="center">
              <input type="checkbox" name="checkbox" value="checkbox" />
            </div></td>
            <td width="40%" height="31" background="/static/members/cy_images/images/bg.gif" bgcolor="#FFFFFF"><div align="left"><span class="STYLE1">标题</span></div></td>
            <td width="10%" background="/static/members/cy_images/images/bg.gif" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">审核状态</span></div></td>
            <td width="10%" background="/static/members/cy_images/images/bg.gif" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">分类</span></div></td>
            <td width="20%" height="31" background="/static/members/cy_images/images/bg.gif" bgcolor="#FFFFFF"><div align="center"><span class="STYLE1">更新时间</span></div></td>
            <td width="20%" height="31" background="/static/members/cy_images/images/bg.gif" bgcolor="#FFFFFF" class="STYLE1"><div align="center">基本操作</div></td>
          </tr>

          {% for i in post_list %}
          <tr >
            <td height="34" ><div align="center">
              <input type="checkbox" name="checkbox3" value="checkbox" />
            </div></td>
            <td height="34" ><div align="center" class="STYLE1">
              <div align="left"><a href="{{i.short_url}}" target="_blank">{{i.title}}</a></div>
            </div></td>
            <td height="34" ><div align="center"><span class="STYLE1">{%ifequal i.status 2%}通过{%else%}未通过{%endifequal%}</span></div></td>
            <td height="34" ><div align="center"><span class="STYLE1">{{i.cate}}</span></div></td>
            <td height="34" ><div align="center"><span class="STYLE1">{{i.created | date:"Y-m-d h:m:s"}}</span></div></td>

            <td height="34" ><div align="center"><span class="STYLE4">
                <a href="/members/post/edit/?id={{i.id}}"><img src="/static/members/cy_images/images/edt.gif" width="16" height="16" />编辑</a>&nbsp; &nbsp;
                <a href="javascript:void(0);" onclick="del_post({{i.id}})"><img src="/static/members/cy_images/images/del.gif" width="16" height="16" />删除</a>
            </span></div></td>
          </tr>
          {% endfor %}

        </table></td>
        <td width="8" >&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="35" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="12" height="35"></td>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="STYLE4" style="display:none;">&nbsp;&nbsp;共有 134 条记录，当前第 1/10 页</td>
            <td><table border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="45"><a href="/members/?cate={{cate}}&page={{page|add:-1}}"><img src="/static/members/cy_images/images/back.gif" width="43" height="15" /></a></td>
                  <td width="45"><a href="/members/?cate={{cate}}&page={{page|add:1}}"><img src="/static/members/cy_images/images/next.gif" width="43" height="15" /></a></td>
                  <td width="120"><div align="center"><span class="STYLE1">转到第
                    <input name="textfield" id="page_index" type="text" size="4" style="height:18px; width:30px; border:1px solid #999999;" />
                    页 </span></div></td>
                  <td width="40" onclick="goto_page('{{cate}}')"><img src="/static/members/cy_images/images/go.gif" width="37" height="15" /></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="16"></td>
      </tr>
    </table></td>
  </tr>
</table>

{% endblock %}

{% block bottom %}
<script>
function del_post(id){
    if (confirm('你确定删除么')){
        location.href = '/members/post/del/?id='+id;
    }
}
function goto_page(cate){
    page = $('#page_index').val();
    location.href = '/members/?cate='+cate+'&page='+page;
}
</script>
{% endblock %}