
<div class="container">

	<div class="leftsidebar_box">
		<div class="line"></div>
        <dl class="custom">
			<dt onClick="changeImage()">用户中心<img src="/static/members/cy_images/images/left/select_xl01.png"></dt>
			<dd class="first_dd"><a href="/members/profile">修改资料</a></dd>
			<dd><a href="/members/password">修改密码</a></dd>
            <dd><a href="#" style="display:none;">收藏夹</a></dd>
		</dl>
		<dl class="system_log" style="display:none;">
			<dt onClick="changeImage()">信息管理<img src="/static/members/cy_images/images/left/select_xl01.png"></dt>
			<dd class="first_dd"><a href="#">充值记录</a></dd>
			<dd><a href="#">短信充值记录</a></dd>
			<dd><a href="#">消费记录</a></dd>
			<dd><a href="#">操作记录</a></dd>
		</dl>
        {% ifequal request.session.info.utype 'ktq' %}
        <dl class="system_log">
            <dt onClick="changeImage()">企业发布<img src="/static/members/cy_images/images/left/select_xl01.png"></dt>
            <dd class="first_dd"><a href="/members/zhaopin">招聘信息</a></dd>
        </dl>
        {% endifequal %}
        <dl class="cloud" style="display:none;">
            <dt>平台设置<img src="/static/members/cy_images/images/left/select_xl01.png"></dt>
            <dd class="first_dd"><a href="/members/bgmusic">背景音乐</a></dd>
        </dl>

		<dl class="source">
			<dt>我的书咖<img src="/static/members/cy_images/images/left/select_xl01.png"></dt>
			<dd class="first_dd"><a href="/members?cate=myanli">我的案例</a></dd>
			<dd><a href="/members?cate=mynews">我的新闻</a></dd>
			<dd><a href="/members?cate=myresource">我的资源</a></dd>
            <dd><a href="/members?cate=myart">我的文学</a></dd>
            <dd><a href="/members?cate=myphoto">我的摄影</a></dd>
            {% ifequal request.session.info.utype 'ktq' %}
                <dd><a href="/members/shuoshuo">我的说说</a></dd>
            {% endifequal %}
            <dd><a href="/members/pinpai">我的品牌</a></dd>
		</dl>

	<div class="tel fl">
    <img src="/static/members/cy_images/images/left/tel.jpg" />
    </div>
	</div><div class="clear"></div>
	
</div>


