{% extends "members/base.html" %}

{% block css %}
    <style>
    .registerform {
        margin: 0 105px 15px;
        padding-top: 45px;
    }
    .registerform .inputxt {
        padding: 3px 2px;
    }
    .registerform td{
        display: block;
        float: left;
    }
    .phpadd td{
        padding-bottom: 20px;
    }
    .fangbiang{
        margin-left: 50px;
    }
    </style>
{% endblock %}

{% block main %}
    <div class="content" style="margin: 0 auto;">
            <div class="information">
                <div class="inputout" style="width: 800px;">
                    <h3>修改密码</h3>
                    <div class="zcxx">
                        <form class="registerform" method="post" action="" name="changepasswd">
                            <table >
                                <tr class="phpadd">
                                    <td class="zcxxa"><span>*</span>原始密码：</td>
                                    <td>
                                        <input type="password" value="" name="old" class="inputxt" datatype="m" nullmsg="请输入原始密码！" errormsg="请输入原始密码！" />
                                    </td>
                                    <td>
                                        <div class="info"><span class="Validform_checktip">请输入原始密码</span><span class="dec"><s class="dec1">&#9670;</s><s class="dec2">&#9670;</s></span></div>
                                    </td>
                                </tr>
                                <tr class="phpadd">
                                    <td class="zcxxa"><span>*</span>设置新密码：</td>
                                    <td>
                                        <input type="password" value="" name="new" class="inputxt" datatype="m" nullmsg="请输入新密码！" errormsg="请输入新密码！" />
                                    </td>
                                    <td>
                                        <div class="info"><span class="Validform_checktip">请输入新密码</span><span class="dec"><s class="dec1">&#9670;</s><s class="dec2">&#9670;</s></span></div>
                                    </td>
                                </tr>
                                <tr class="phpadd">
                                    <td class="zcxxa"><span>*</span>新密码确认：</td>
                                    <td>
                                        <input type="password" value="" name="renew" class="inputxt" datatype="m" nullmsg="请输入确认密码！" errormsg="请输入确认密码！" />
                                    </td>
                                    <td>
                                        <div class="info"><span class="Validform_checktip">请输入确认密码</span><span class="dec"><s class="dec1">&#9670;</s><s class="dec2">&#9670;</s></span></div>
                                    </td>
                                </tr>
                                <tr><td>{{msg}}</td></tr>
                            </table>
                        </form>
                        <div class="inputsubmit regisspan ">
			      	  	  	<a href="javascript:void(0);" onclick="changepasswd.submit();">点击保存</a>
			      	  	  </div>
                    </div>
                </div>
            </div>
        </div><div class="clear"></div>
{% endblock %}

