{% extends "members/base.html" %}

{% block css %}
    <style>
    .registerform {
        margin: 0 105px 15px;
        padding-top: 45px;
    }
    .registerform .inputxt {
        padding: 3px 2px;
    }
    .registerform td{
        display: block;
        float: left;
    }
    .phpadd td{
        padding-bottom: 20px;
    }
    .fangbiang{
        margin-left: 50px;
    }
    </style>
{% endblock %}

{% block js %}
	<script  src="/static/members/cy_images/js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<!-- loand -->
    <script  src="/static/members/cy_images/js/Validform_v5.3.2_min.js" type="text/javascript"></script>
    <script  src="/static/members/cy_images/js/passwordStrength-min.js" type="text/javascript"></script>
    <script  src="/static/members/cy_images/js/loand.js" type="text/javascript"></script>
    <!-- zhuce -->
    <script src="/static/members/cy_images/js/zhuce.js" type="text/javascript"></script>
{% endblock %}
{% block main %}
    <div class="content" style="margin: 0 auto; ">
        <div class="information">
            <div class="inputout" style="width:760px; float:left; display:block; margin-left:39px;">
                <div class="add_title">
                    <div class="head">
                        <a href="#"><img src="{{info.logo}}"></a>
                        <span>亲爱的{{info.nickname}}，下午好！</span>
                    </div>
                    <div class="submit">
                        <input type="submit" class="sub" value="发表文章"  style="display:none;">
                    </div>
                </div>
                <div class="add_center">
                    <p>您的天池今天注入 <span>{{focus_count.focus_today}}</span> 立方纯净水，总容量已突破 <em>{{focus_count.focus}}</em> 立方。用心呵护您的天池，进或出，都是美好的一天。</p>
                </div>
                <div class="add_aera">
                    <div class="add_l">
                        <div class="add_name">
                            <span gread="">全部</span>
                            <span gread="high">高级</span>
                            <span gread="middle">中级</span>
                            <span gread="low">初级</span>
                            <span gread="qt">其他</span>
                        </div>
                        {% for tianchi in my_tianchi %}
                            <div class="add_list01">
                                <div class="add_img01">
                                    <a href="#"><img src="{{tianchi.logo}}" width="229" height="212"></a>
                                </div>
                                <div class="add_word">
                                    <b><a href="/zhiyuw/member?userid={{tianchi.id}}&t={{tianchi.utype}}" target="_blank">{{tianchi.username}}</a></b>
                                    <div class="add_word_left">
                                        <span>QQ：{{tianchi.qq}}</span>
                                        <span>微信：{{tianchi.weixin}}</span>
                                        <span>领英：{{tianchi.linkedin}}</span>
                                        <span>电话：{{tianchi.shoujihao}}</span>
                                    </div>
                                    <div class="add_word_right">
                                        <a href="javascript:void(0);" class="gz" text="{{tianchi.msg}}">关注函</a>
                                        <a href="javascript:void(0);" class="lv" text="{{tianchi.gerenjianjie}}">履历表</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="clear"></div>
                <div class="pages">
                    {% ifnotequal page 1 %}
                        <a href="/members/tianchi?gread={{gread}}&page={{page | add:-1}}">上一页</a>
                    {% endifnotequal %}
                    <a>{{page}}/{{total_page}}页</a>
                    {% ifnotequal page total_page %}
                        <a href="/members/tianchi?gread={{gread}}&page={{page | add:1}}">下一页</a>
                    {% endifnotequal %}
                </div>
            </div>
        </div>
    </div><div class="clear"></div>
    <div id="tips"></div>
    <div class="dlg-container" style="font-size:16px;">
        <h2 claa="tip-title">关注函</h2><hr>
        <div class="tip-content">该用户未填写相关资料</div>
    </div>
    <script>
        $('.add_name span').click(function(e){
            var gread = $(this).attr('gread');
            var url = '/members/tianchi?gread='+ gread;
            location.href = url;
        });
        $('.gz').on('click', show_tips);
        $('.lv').on('click', show_tips);
        function show_tips(e){
            $('.tip-title').text()
            $('.dlg-container h2').text(this.text);
            $('.tip-content').text($(this).attr('text'));
            var width = $(window).width();
            var div_width = $('.dlg-container').width();
            $('.dlg-container').css('left', (width-div_width)/2);
            $('.dlg-container').show();
            $('#tips').show();
        };
        $('#tips').click(function(e){
            $('.dlg-container').hide();
            $('#tips').hide();
        });
    </script>
{% endblock %}

