{% extends "members/base.html" %}

{% block css %}
    <style>
    .registerform {
        margin: 0 105px 15px;
        padding-top: 45px;
    }
    .registerform .inputxt {
        padding: 3px 2px;
    }
    .registerform td{
        display: block;
        float: left;
    }
    .phpadd td{
        padding-bottom: 20px;
    }
    .fangbiang{
        margin-left: 50px;
    }
    </style>
{% endblock %}

{% block js %}
	<script  src="/static/members/cy_images/js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<!-- loand -->
    <script  src="/static/members/cy_images/js/Validform_v5.3.2_min.js" type="text/javascript"></script>
    <script  src="/static/members/cy_images/js/passwordStrength-min.js" type="text/javascript"></script>
    <script  src="/static/members/cy_images/js/loand.js" type="text/javascript"></script>
    <!-- zhuce -->
    <script src="/static/members/cy_images/js/zhuce.js" type="text/javascript"></script>
{% endblock %}
{% block main %}
    <div class="content" style="margin: 0 auto; ">
        <div class="information">
                <div class="inputout" style="width:760px; float:left; display:block; margin-left:39px;">

               	  <div class="add_title">
                    	<div class="head">
                        <a href="#"><img src="{{info.logo}}"></a>
                        <span>亲爱的{{info.nickname}}，下午好！</span>
                      </div>
                    <div class="submit">
                        <input type="submit" class="sub" value="发表文章"  style="display:none;">
                        </div>
                    </div>
                    <div class="add_center">
                    <p>您的天池今天注入 <span>100</span> 立方纯净水，总容量已突破 <em>900</em> 立方。用心呵护您的天池，进或出，都是美好的一天。</p>
                    </div>
                    <div class="add_aera">

                      	<div class="add_l">
                        	<div class="add_name">
                            <span>高级管理类</span>
                        	</div>
                            <div class="add_list01">
                            	<div class="add_img01">
                        		<a href="#"><img src="../static/members/cy_images/images/news_show.jpg" width="229" height="212"></a>
                            	</div>
                                <div class="add_word">
                                	<b>ERIC</b>
                                    <div class="add_word_left">
                                    	<span>QQ：817085213</span>
										<span>微信：1999-11</span>
                                        <span>领英：1999-11</span>
										<span>电话：18010003022</span>
                                    </div>
                                    <div class="add_word_right">

                                        <a href="#" class="gz">关注函</a>
                                        <a href="#" class="lv">履历表</a>
                                    </div>
                                </div>
                            </div>
                            <div class="add_list01">
                            	<div class="add_img01">
                        		<a href="#"><img src="../static/members/cy_images/images/news_show.jpg" width="229" height="212"></a>
                            	</div>
                                <div class="add_word">
                                	<b>ERIC</b>
                                    <div class="add_word_left">
                                    	<span>QQ：817085213</span>
										<span>微信：1999-11</span>
                                        <span>领英：1999-11</span>
										<span>电话：18010003022</span>
                                    </div>
                                    <div class="add_word_right">

                                        <a href="#" class="gz">关注函</a>
                                        <a href="#" class="lv">履历表</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                       <div class="add_l">
                        	<div class="add_name">
                            <span>基层员工类</span>
                        	</div>
                            <div class="add_list01">
                            	<div class="add_img01">
                        		<a href="#"><img src="../static/members/cy_images/images/news_show.jpg" width="229" height="212"></a>
                            	</div>
                                <div class="add_word">
                                	<b>ERIC</b>
                                    <div class="add_word_left">
                                    	<span>QQ：817085213</span>
										<span>微信：1999-11</span>
                                        <span>领英：1999-11</span>
										<span>电话：18010003022</span>
                                    </div>
                                    <div class="add_word_right">

                                        <a href="#" class="gz">关注函</a>
                                        <a href="#" class="lv">履历表</a>
                                    </div>
                                </div>
                            </div>
                            <div class="add_list01">
                            	<div class="add_img01">
                        		<a href="#"><img src="../static/members/cy_images/images/news_show.jpg" width="229" height="212"></a>
                            	</div>
                                <div class="add_word">
                                	<b>ERIC</b>
                                    <div class="add_word_left">
                                    	<span>QQ：817085213</span>
										<span>微信：1999-11</span>
                                        <span>领英：1999-11</span>
										<span>电话：18010003022</span>
                                    </div>
                                    <div class="add_word_right">

                                        <a href="#" class="gz">关注函</a>
                                        <a href="#" class="lv">履历表</a>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="add_l">
                        	<div class="add_name">
                            <span>高级管理类</span>
                        	</div>
                            <div class="add_list01">
                            	<div class="add_img01">
                        		<a href="#"><img src="../static/members/cy_images/images/news_show.jpg" width="229" height="212"></a>
                            	</div>
                                <div class="add_word">
                                	<b>ERIC</b>
                                    <div class="add_word_left">
                                    	<span>QQ：817085213</span>
										<span>微信：1999-11</span>
                                        <span>领英：1999-11</span>
										<span>电话：18010003022</span>
                                    </div>
                                    <div class="add_word_right">

                                        <a href="#" class="gz">关注函</a>
                                        <a href="#" class="lv">履历表</a>
                                    </div>
                                </div>
                            </div>
                            <div class="add_list01">
                            	<div class="add_img01">
                        		<a href="#"><img src="../static/members/cy_images/images/news_show.jpg" width="229" height="212"></a>
                            	</div>
                                <div class="add_word">
                                	<b>ERIC</b>
                                    <div class="add_word_left">
                                    	<span>QQ：817085213</span>
										<span>微信：1999-11</span>
                                        <span>领英：1999-11</span>
										<span>电话：18010003022</span>
                                    </div>
                                    <div class="add_word_right">

                                        <a href="#" class="gz">关注函</a>
                                        <a href="#" class="lv">履历表</a>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                    <div class="clear"></div>

                        <div class="pages">

                            <a href="#">上一页</a> <a href="#" class="cur">1</a> <a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">下一页</a><a href="#">尾页</a>共15页

                        </div>
                </div>
            </div>
    </div><div class="clear"></div>
{% endblock %}

