{% extends "mobile/base.html" %}
{% block main %}
    <div class="content">
	<div class="content_area">
		<div class="content_title">
        <p>工信部部长：中国已建成全球最大4G
网络 用户数突破5亿</p>
<span>上市去吧 发布日期：2016-06-01 浏览次数:10</span>
        </div>
        
        <div class="content_c">
        　北京时间6月1日消息，在日前举办的“第一届全球5G大会”上，工业和信息化部部长苗圩表示，中国已经建成全球最大的4G网络，基站规模超过200万个，用户数突破5亿。
　　苗圩表示，中国拥有全球第一的互联网用户数和移动互联网用户数，成为全球最大的电子信息产品生产基地和最具成长性的信息消费市场，截至2015年底，中国已拥有6.88亿网民，网民普及率达到50.3%，全年移动互联网接入流量超过400万T(字节)，同比增长103%。
　　此外，苗圩还着重提到了5G技术。他表示，一方面，5G直接推动移动通信技术和产品的重大飞跃，带动芯片、软件等领域快速发展；另一方面，5G与工业、医疗、交通等行业深度耦合、交叉创新，催生工业互联网、车联网等新业态，给人们的生产方式、生活方式甚至思维观念都将带来深刻影响。
        </div>
	</div>
</div><div class="clear"></div>
{% endblock %}
