<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="apple-touch-fullscreen" content="yes" />
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta name="Author" content="楚易科技">
<meta content="楚易科技 www.chuyikeji.com" name="design">
<title>首页--职语网</title>
<link href="/static/mobile/cy_images/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/mobile/cy_images/css/swiper.min.css" rel="stylesheet" type="text/css" />
<script src="/static/mobile/cy_images/js/jquery-1.9.1.min.js"></script>
<!--移动端版本兼容 -->
<script type="text/javascript">
	var mengvalue = -1;
	//if(mengvalue<0){mengvalue=0;}
	var phoneWidth = parseInt(window.screen.width);
	var phoneScale = phoneWidth / 640;

	var ua = navigator.userAgent;
	if (/Android (\d+\.\d+)/.test(ua)) {
		var version = parseFloat(RegExp.$1);
		// andriod 2.3
		if (version > 2.3) {
			document.write('<meta name="viewport" content="width=640, minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi">');
			// andriod 2.3以上
		} else {
			document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
		}
		// 其他系统
	} else {
		document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
	}
</script>
<!--移动端版本兼容 end -->
</head>
<body>
<div class="header">
	<div class="header_area">
        <div class="logo">
        <a href="/mobile"><img src="/static/mobile/cy_images/images/logo01.jpg" /></a>
        </div>
        <div class="personal">
            {% if request.session.isLogin %}
                <div class="auth">
                    <label>您好：<a href="/mobile">{{request.session.info.username}}</a></label>
                    &nbsp;&nbsp;<a href="/mobile/logout">退出</a>
                </div>
            {% else %}
                <a href="/mobile/login"><img src="/static/mobile/cy_images/images/personal.jpg" /></a>
            {% endif %}
        </div>
    </div>
</div><div class="clear"></div>
<div class="nav">
	<ul>
    	<li><a href="/mobile" class="{{index_active}}">首　页</a></li>
        <li><a href="/mobile/ktq" class="{{ktq_active}}">开拓圈</a></li>
        <li><a href="/mobile/gyq" class="{{gyq_active}}">耕耘群</a></li>
        <li><a href="/mobile/alh" class="{{alh_active}}">案例汇</a></li>
        <li><a href="/mobile/xxc" class="{{xxc_active}}">信息窗</a></li>
        <li><a href="/mobile/zyk" class="{{zyk_active}}">资源库</a></li>
        <li><a href="/mobile/fsb" class="{{fsb_active}}">放松吧</a></li>
        <li><a href="/mobile/nxt" class="{{nxt_active}}">纳贤台</a></li>
        <li><a href="/mobile/bw" class="{{bw_active}}">博　文</a></li>
        <li><a href="/mobile/contact" class="{{contact_active}}">联系我们</a></li>
    </ul>
</div><div class="clear"></div>

{% block main %}{% endblock %}

<div style="height:61px;"></div>

{% block bottom_extra %}
    <div class="top_bar" style="-webkit-transform:translate3d(0,0,0)">
        <nav>
            <ul id="top_menu" class="top_menu">
                <li>
                    <a href="/mobile/post/new">
                        <img src="/static/mobile/cy_images/images/footer_o1.png" />
                        <label>发博文</label>
                    </a>
                </li>
                <li>
                    <a href="javascript:displayit(2)">
                        <img src="/static/mobile/cy_images/images/footer_o2.png" />
                        <label>我的书咖</label>
                    </a>
                    <ul id="menu_list2" class="menu_font" style=" display:none">
                        <li>
                            <a href="/mobile/myarts"><label>我的文章</label></a>
                        </li>
                        {% ifequal request.session.info.utype 'gyq' %}
                            <li>
                                <a href="/mobile/xiangwang"><label>我的向往</label></a>
                            </li>
                        {% endifequal %}
                        <li>
                            <a href="/mobile/navigate"><label>我的导航</label></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a onclick="javascript:displayit(3)">
                        <img src="/static/mobile/cy_images/images/footer_o3.png" />
                        <label>我的财富</label>
                    </a>
                    <ul id="menu_list3" class="menu_font" style=" display:none">
                        <li>
                            <a href="/mobile/tianchi"><label>天池水</label></a>
                        </li>
                        {% ifequal request.session.info.utype 'ktq' %}
                            <li>
                                <a href="/mobile/pinpai"><label>我的品牌</label></a>
                            </li>
                        {% endifequal %}
                        <li>
                            <a href="/mobile/caifu"><label>金钱树</label></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div id="plug-wrap" onclick="closeall()" style="display: none;"></div>
{% endblock %}
<script>
    function closeall(){
        $("#top_menu ul").hide();
        $("#plug-wrap").hide();
    }
    function displayit(n){
        if ($('#menu_list'+n).css('display')=='block'){
            $('#menu_list'+n).hide();
            $("#plug-wrap").hide();
        }else{
            closeall();
            $('#menu_list'+n).show();
            $("#plug-wrap").show();
        }
    }


</script>
</body>
</html>
