{% extends "mobile/base.html" %}
{% block main %}
    <div class="content">
        <div class="content_area">
            <div style="font-weight: bold; font-size: 1.4em;">
                安徽员倍财务服务有限公司
            </div>
            <div class="content_c" style="margin-bottom:20px; font-size: 1.3em;">
                地址：合肥市瑶海区凤阳路澳澜宝邸B座1405室<br>
                电话：0551-63631832  曹国富<br>
            </div>
        </div>
        <div class="content_area">
            <div style="font-weight: bold; font-size: 1.4em;">
                池州市国员人力资源服务有限公司
            </div>
            <div class="content_c" style="margin-bottom:20px;font-size: 1.3em;">
                地址：池州市青阳县经济开发区东河园电子商务大楼315室<br>
                电话：0566-5031361  曹国富<br>
            </div>
        </div>
        <div class="content_area">
            <div style="font-weight: bold;font-size: 1.4em;">
                池州青阳县华洲国源财务咨询有限公司
            </div>
            <div class="content_c" style="margin-bottom:20px;font-size: 1.3em;">
                地址：池州市青阳县经济开发区东河园电子商务大楼313室<br>
                电话：0566-5031361   赵根平<br>
            </div>
        </div>
        <div class="content_area">
            <div style="font-weight: bold;font-size: 1.4em;">
                桐城市华洲国源财务咨询服务有限公司
            </div>
            <div class="content_c" style="margin-bottom:20px;font-size: 1.3em;">
                地址：桐城市文昌街道胜利社区滨河广场5#306室<br>
                电话：0556-6561219   周满生<br>
            </div>
        </div>
    </div><div class="clear"></div>
{% endblock %}
