{% extends "mobile/base.html" %}
{% block main %}
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for i in req.session.banner_list_mobile %}
                <div class="swiper-slide"><a href="{{i.url}}"><img src="{{i.src}}" /></a></div>
            {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <script src="/static/mobile/cy_images/js/swiper.min.js"></script>
    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
		autoplay: 2500,
    });
</script>

    <div class="news">
        <div class="title">
            <span>放松吧</span><a href="/mobile/fsb">更多></a>
        </div>
        {% for i in fsb_list %}
            <div class="news_list">
                <div class="news_map">
                    <a href="{{i.mobile_url}}"><img src="{{i.featured_image}}" /></a>
                </div>
                <div class="news_l">
                    <a href="{{i.mobile_url}}" title="{{i.title}}">{{i.title}}</a>
                    <span>{{i.description}}</span>
                </div>
            </div>
        {% endfor %}
    </div><div class="clear"></div>

    <div class="news">
        <div class="title">
            <span>纳贤台</span><a href="/mobile/nxt">更多></a>
        </div>
        {% for i in nxt_list %}
            <div class="news_list">
                <div class="news_map">
                    <a href="{{i.mobile_url}}"><img src="{{i.featured_image}}" /></a>
                </div>
                <div class="news_l">
                    <a href="{{i.mobile_url}}" title="{{i.title}}">{{i.title}}</a>
                    <span>{{i.description}}</span>
                </div>
            </div>
        {% endfor %}
    </div><div class="clear"></div>

    <div class="news">
        <div class="title">
            <span>博文</span><a href="/mobile/bw">更多></a>
        </div>
        {% for i in bw_list %}
            <div class="news_list">
                <div class="news_map">
                    <a href="{{i.mobile_url}}"><img src="{{i.featured_image}}" /></a>
                </div>
                <div class="news_l">
                    <a href="{{i.mobile_url}}" title="{{i.title}}">{{i.title}}</a>
                    <span>{{i.description}}</span>
                </div>
            </div>
        {% endfor %}
    </div><div class="clear"></div>

    <div class="news">
        <div class="title">
            <span>信息窗</span><a href="/mobile/xxc">更多></a>
        </div>
        {% for i in xxc_list %}
            <div class="news_list">
                <div class="news_map">
                    <a href="{{i.mobile_url}}"><img src="{{i.featured_image}}" /></a>
                </div>
                <div class="news_l">
                    <a href="{{i.mobile_url}}" title="{{i.title}}">{{i.title}}</a>
                    <span>{{i.description}}</span>
                </div>
            </div>
        {% endfor %}
    </div><div class="clear"></div>

    <div class="news">
        <div class="title">
            <span>案例汇</span><a href="/mobile/alh">更多></a>
        </div>
        {% for i in alh_list %}
            <div class="news_list">
                <div class="news_map">
                    <a href="{{i.mobile_url}}"><img src="{{i.featured_image}}" /></a>
                </div>
                <div class="news_l">
                    <a href="{{i.mobile_url}}" title="{{i.title}}">{{i.title}}</a>
                    <span>{{i.description}}</span>
                </div>
            </div>
        {% endfor %}
    </div><div class="clear"></div>
{% endblock %}

