{% extends "mobile/base.html" %}
{% block title %}{{cate_name}}{% endblock %}
{% block main %}
    <div class="news">
	<div class="title">
    	<span>{{cate_name}}</span>
    </div>
    {% for i in cate_list %}
        <div class="news_list">
            <div class="news_map">
                <a href="{{i.mobile_url}}"><img src="{{i.featured_image}}" /></a>
            </div>
            <div class="news_l">
                <a href="{{i.mobile_url}}" title="{{i.title}}">{{i.title | slice:"30"}}</a>
                <span>{{i.description | slice:"50"}}</span>
            </div>
        </div>
    {% endfor %}
    <div class="pages">
        共{{total}}条记录
        {% ifnotequal page 1 %}
            <a href="/mobile/{{cate}}?page={{page|add:-1}}">上一页</a>
        {% endifnotequal %}
        <a href="#" class="red">{{page}}/{{total_page}}</a>
        {% ifnotequal page total_page %}
            <a href="/mobile/{{cate}}?page={{page|add:1}}">下一页</a>
        {% endifnotequal %}
    </div>
    
    
</div><div class="clear"></div>
{% endblock %}
