{% extends "mobile/base.html" %}
{% block main %}
    <div class="news">
	<div class="title">
    	<span>纳贤台</span>
    </div>
    <div class="news_list">
    	<div class="news_map">
        <a href="#"><img src="/static/mobile/cy_images/images/news_map.jpg" /></a>
        </div>
        <div class="news_l">
        	<a href="#">未来没有互联网企业</a>
            <span>前几年，品牌的春天来了，但是伴随“互联网+”的舆论更强，似乎掩盖了品牌的声音...</span>
        </div>
    </div>
    <div class="news_list">
    	<div class="news_map">
        <a href="#"><img src="/static/mobile/cy_images/images/news_map.jpg" /></a>
        </div>
        <div class="news_l">
        	<a href="#">未来没有互联网企业</a>
            <span>前几年，品牌的春天来了，但是伴随“互联网+”的舆论更强，似乎掩盖了品牌的声音...</span>
        </div>
    </div>
    <div class="news_list">
    	<div class="news_map">
        <a href="#"><img src="/static/mobile/cy_images/images/news_map.jpg" /></a>
        </div>
        <div class="news_l">
        	<a href="#">未来没有互联网企业</a>
            <span>前几年，品牌的春天来了，但是伴随“互联网+”的舆论更强，似乎掩盖了品牌的声音...</span>
        </div>
    </div>
    
    
      <div class="pages">
    共56条记录 <a href="#">上一页</a> <a href="#" class="red">1</a> <a href="#">下一页</a>
</div>
    
    
</div><div class="clear"></div>
{% endblock %}
