{% extends "mobile/base.html" %}
{% block main %}
    <div class="showMsg" style="text-align:center">
        <div class="content guery" style="height: 30px; width:100%; margin:40px auto;">
            <p>{{msg}}</p>
        </div>
        <div class="bottom">
        {% if url %}
            <a href="{{url}}">如果您的浏览器没有自动跳转，请点击这里</a>
            <meta http-equiv="refresh" content="50; url={{url}}">
        {% else %}
            {% if result %}
                <a href="javascript:history.back();" >[点这里返回上一页]</a>
            {% else %}
                <a href="/mobile">如果您的浏览器没有自动跳转，请点击这里返回首页</a>
                <meta http-equiv="refresh" content="50; url=/mobile">
            {% endif %}
        {% endif %}
        </div>
    </div>
{% endblock %}
