{% extends "mobile/base.html" %}
{% block title %}我的导航{% endblock %}
{% block main %}
<style>
    .field {
        width: 70%;
        height: 35px;
        margin: 5px 20px;
    }
    .true{
        height: 33px;
        line-height: 33px;
        width: 65px;
        display: inline-block;
    }
</style>
<div class="nav_add">
    <div class="nav_top">
        我的导航
    </div>
    <div id="box">
        <span class="edit_navigate" style="width: 55px;">编辑</span>
    </div><div style="clear:both;"></div>
    <ol class="list">
        {% for url in urls %}
            <li>
                <div class="pro_name">
                    <div class="nav-del"><div class="del-icon" nid="{{url.id}}"></div></div>
                    <a href="{{url.url}}" target="_blank" nid="{{url.id}}">{{url.name}}</a>
                    <div class="nav-text"><div class="nav-item-edit"></div></div>
                </div>
            </li>
        {% endfor %}
        <li class="add_navigate"><div class="pro_name"><a href="javascript:void(0);">+</a></div></li>
    </ol>

    <form id="navigate" action="/mobile/navigate/save" onclick="return false;">
        <input type="hidden" name="nid" value="">
        <input type="text" value="" name="name" placeholder="请输入网站名称" class="field">
        <input type="text" value="" name="url" placeholder="请输入网站URL" class="field">
        <span class="navigate_submit button true">确定</span>
    </form>

    {% if admin_urls %}
        <p style="font-size:16px; margin-left: 10px;">下面是为您推荐的网站，喜欢的话请点击添加收藏吧！</p>
        <hr>
        <ol style="clear:both; margin-top: 10px;" class="list">
            {% for url in admin_urls %}
                <li>
                    <div class="pro_name fav_sites">
                        <a href="{{url.url}}" >{{url.name}}</a>
                    </div>
                </li>
            {% endfor %}
        </ol>
    {% endif %}
    <div class="clear"></div>

</div>
<div class="clear"></div>
<script>
    $('.navigate_submit').click(function(e){
        var form = $('#navigate');
        var name = $('#navigate input[name="name"]').val();
        var url = $('#navigate input[name="url"]').val();
        if(name==''){
            alert('请填写名称');
            return;
        }
        if(url==''){
            alert('请填写url');
            return;
        }
        var reg=new RegExp("^http://|https://");
        if(!reg.test(url)){
            $('#navigate input[name="url"]').val('http://'+url);
        }
        $.ajax({
            url: form.attr('action'),
            type: 'post',
            dataType:'json',
            data: form.serializeArray(),
            success: function(msg) {
                if(msg.errorCode==0){
                        location = location.href;
                        alert('操作成功')
                    }else{
                        alert(msg.msg)
                    }
            }
        });
    });
    $('.add_navigate').click(function(e){
        $('#navigate input[name="nid"]').val('');
        $('#navigate input[name="name"]').val('');
        $('#navigate input[name="url"]').val('');
        $('#navigate').show();
    });
    $('#box .edit_navigate').click(function(e){
        $('.pro_name .nav-del').css('display', 'inline-block');
        $('.pro_name .nav-text').css('display', 'inline-block');
    });
    $('.nav-item-edit').click(function(e){
        var link = $(this).parent().parent().find('a');
        var url = link.attr('href');
        var nid = link.attr('nid');
        var name = link.html();
        $('#navigate input[name="nid"]').val(nid);
        $('#navigate input[name="name"]').val(name);
        $('#navigate input[name="url"]').val(url);
        $('#navigate').show();
    });
    $('.del-icon').click(function(e){
        if(confirm('确认删除么？')){
            $.ajax({
                url: '/mobile/navigate/delete',
                type: 'post',
                dataType:'json',
                data: 'nid='+$(this).attr('nid'),
                success: function(msg) {
                    if(msg.errorCode==0){
                        location = location.href;
                        alert('删除成功')
                    }else{
                        alert(msg.msg)
                    }
                }
            });
        }
    });
    $('.fav_sites a').on('click', function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        var name = $(this).text();
        $('#navigate input[name="url"]').val(url);
        $('#navigate input[name="name"]').val(name);
        $('.navigate_submit').click();
    });
</script>
{% endblock %}