{% extends "mobile/base.html" %}
{% block main %}
<div class="nav_add">
    <div class="nav_top">
        我的导航
    </div>
    <div id="box">
        <span>编辑</span>
    </div><div style="clear:both;"></div>
    <ol class="list">
        <li>
            <div class="pro_name">
                <div class="nav-del"><div class="del-icon" nid="1"></div></div>
                <a href="http://www.baidu.com/" target="_blank" nid="1">百度</a>
                <div class="nav-text"><div class="nav-item-edit"></div></div>
            </div>
        </li>
        <li>
            <div class="pro_name">
                <div class="nav-del"><div class="del-icon" nid="2"></div></div>
                <a href="http://www.sina.com.cn/" target="_blank" nid="2">新浪</a>
                <div class="nav-text"><div class="nav-item-edit"></div></div>
            </div>
        </li>
        <li>
            <div class="pro_name">
                <div class="nav-del"><div class="del-icon" nid="3"></div></div>
                <a href="http://www.taobao.com/" target="_blank" nid="3">淘宝</a>
                <div class="nav-text"><div class="nav-item-edit"></div></div>
            </div>
        </li>
        <li>
            <div class="pro_name">
                <div class="nav-del"><div class="del-icon" nid="4"></div></div>
                <a href="http://www.youku.com/" target="_blank" nid="4">优酷</a>
                <div class="nav-text"><div class="nav-item-edit"></div></div>
            </div>
        </li>
        <li class="add_navigate"><div class="pro_name"><a href="javascript:void(0);">+</a></div></li>
    </ol>
</div><div class="clear"></div>
<div id="car" class="car">
	<div class="head_row hid">
		<div class="name left"></div>		
		<div class="ctrl left"></div>
	</div>
</div>	
{% endblock %}