{% extends "mobile/base.html" %}
{% block extra_head %}
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" charset="utf-8" data-callback="true"></script>
{% endblock %}
{% block main %}
    <div class="showMsg" style="text-align:center">
        <div class="content guery" style="height: auto; width:100%; margin:40px auto; font-size:1.5em;">
            <p>{{msg}}</p>
        </div>
        <div class="bottom">

        </div>
    </div>
{% endblock %}
