<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" /-->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="apple-touch-fullscreen" content="yes" />
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta name="Author" content="楚易科技">
<meta content="楚易科技 www.chuyikeji.com" name="design">
<title>注册--职语网</title>
<link href="/static/mobile/cy_images/css/style.css" rel="stylesheet" type="text/css" />
<script src="/static/mobile/cy_images/js/jquery-1.9.1.min.js"></script>
<!--移动端版本兼容 -->
<script type="text/javascript">
	var mengvalue = -1;
	//if(mengvalue<0){mengvalue=0;}
	var phoneWidth = parseInt(window.screen.width);
	var phoneScale = phoneWidth / 640;

	var ua = navigator.userAgent;
	if (/Android (\d+\.\d+)/.test(ua)) {
		var version = parseFloat(RegExp.$1);
		// andriod 2.3
		if (version > 2.3) {
			document.write('<meta name="viewport" content="width=640, minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi">');
			// andriod 2.3以上
		} else {
			document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
		}
		// 其他系统
	} else {
		document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
	}
</script>
<!--移动端版本兼容 end -->
</head>
<body>
<div class="header">
	<div class="header_area">
        <div class="logo">
            <a href="/mobile"><img src="/static/mobile/cy_images/images/logo.jpg" /></a>
        </div>
        <span>注册</span>
        <div class="personal">
            <a href="/mobile/login"><img src="/static/mobile/cy_images/images/personal.jpg" /></a>
        </div>
    </div>
</div><div class="clear"></div>

<form class="denglu" action="/mobile/register" method="POST" id="reg_form">
    <div class="bgwhite">
        <div class="Login">
            <dl>
                <dt>会员类型 :</dt>
                <dd>
                    <select id="test_select" name="utype">
                        <option value="gyq" selected="true">耕耘群</option>
                        <option value="ktq" >开拓圈</option>
                    </select>
                </dd>
            </dl>
            <dl>
                <dt>会员账号 :</dt>
                <dd><input type="text" name="username" placeholder="请输入会员名称" value="" /></dd>
            </dl>
            <dl>
                <dt>EMAIL :</dt>
                <dd> <input type="email" name="email" placeholder="请输入EMAIL" id="email"/> </dd>
            </dl>
            <dl>
                <dt>账号密码 :</dt>
                <dd> <input type="password" name="password" placeholder="请输入密码" id="password" onblur="if(this.value==''){alert('*密码不能为空')}"/> </dd>
            </dl>
            <dl>
                <dt>确认密码 :</dt>
                <dd>
                    <input type="password" name="password2" placeholder="请输入确认密码" id="password2" onblur="checkpass()"  />
                </dd>
            </dl>
            <dl>
                <dt>验证码 :</dt>
                <dd>
                    <input type="text" readonly id="checkCode" class="reg_field" style="width:88px; text-align: center;background-color: #cccccc;" value="{{express}}" />
                    <input type="hidden" name="code_id"  value="{{express_id}}">
                    <input type="text" id="id_code" name="code" value="" class="reg_field" style="width:90px; text-align: center;">
                    <span class="red" id="err_code" >&nbsp;</span>
                </dd>
            </dl>
            <dl style="border:none;" class="agreen">
                    <input type="checkbox" name="agreen" id="agreen" /> 我同意<a href="/mobile/agreen" target="_blank" style="color: #069fe6;">注册协议</a>中相关协议说明
            </dl>
        </div>
        <div class="field submit-btn" style="padding-left:0px; padding-right:0px; width: 80%;margin: 0 auto;">
            <input type="submit" class="btn_big1" value="立即注册" />
            <input type="button" class="btn_big2" value="已有账号？登录" onclick="location.href='/mobile/login'" />
        </div>
    </div>
</form>

<div class="ng-foot">
    <div class="third-area">
        <div class="third-area-a">
            <font color="#d8d8d8">————————————</font>&nbsp;使用合作网站帐号登录&nbsp;<font color="#d8d8d8">————————————</font>
        </div>
        <div class="third-list">
            <a class="ta-qq" href="user.php?act=oath&type=qq"  title="QQ">QQ登录</a>
            <a class="ta-weixin" href="user.php?act=oath&type=weixin" title="weixin">微信登录</a>
        </div>
    </div>
</div>

<div class="clear"></div>

<script type="text/javascript">
    function checkpass(){
        if ($('#password').val()!=$('#password2').val()){
            alert('两次密码不一致');
        }
    }

    $('#reg_form').on('submit', function(e){
        var email = $('#email').val().trim();
        if (email==''){
            alert('邮箱不能为空');
            return false;
        }
        var id_code = $('#id_code').val().trim();
        if (id_code==''){
            alert('请填写验证码');
            return false;
        }
        var is_agreen = $('#agreen').is(':checked');
        if (is_agreen){
        }else{
            alert('请先查看并勾选注册协议！')
            return false;
        }
    })
</script>
</body>
</html>
