{% extends "mobile/base.html" %}
{% block main %}
 
<div class="news">
	<div class="title">
    	<span>我的文章</span><a href="#">更多></a>
    </div>
    <div class="news_list">
    	<div class="news_map">
        <a href="#"><img src="/static/mobile/cy_images/images/news_map.jpg" /></a>
        </div>
        <div class="news_l">
        	<a href="#">未来没有互联网企业</a>
            <span>前几年，品牌的春天来了，但是伴随“互联网+”的舆论更强，似乎掩盖了品牌的声音...</span>
        </div>
    </div>
    <div class="news_list">
    	<div class="news_map">
        <a href="#"><img src="/static/mobile/cy_images/images/news_map.jpg" /></a>
        </div>
        <div class="news_l">
        	<a href="#">未来没有互联网企业</a>
            <span>前几年，品牌的春天来了，但是伴随“互联网+”的舆论更强，似乎掩盖了品牌的声音...</span>
        </div>
    </div>
    <div class="news_list">
    	<div class="news_map">
        <a href="#"><img src="/static/mobile/cy_images/images/news_map.jpg" /></a>
        </div>
        <div class="news_l">
        	<a href="#">未来没有互联网企业</a>
            <span>前几年，品牌的春天来了，但是伴随“互联网+”的舆论更强，似乎掩盖了品牌的声音...</span>
        </div>
    </div>
   
</div><div class="clear"></div>

<div class="news">
	<div class="title">
    	<span>我的向往</span><a href="#">更多></a>
    </div>
    <div class="news_show">
        <div class="news_list01">
            <div class="news_map01">
            <a href="#"><img src="/static/mobile/cy_images/images/news_show.jpg" /></a>
            </div>
            <div class="news_area">
                <a href="#">上市去吧</a>
                <span>等级：恩平榕</span>
                <span>行业：咨询/培训</span>
            </div>
        </div>
        
        <div class="news_list01">
            <div class="news_map01">
            <a href="#"><img src="/static/mobile/cy_images/images/news_show.jpg" /></a>
            </div>
            <div class="news_area">
                <a href="#">上市去吧</a>
                <span>等级：恩平榕</span>
                <span>行业：咨询/培训</span>
            </div>
        </div>
        
        
        <div class="news_list01">
            <div class="news_map01">
            <a href="#"><img src="/static/mobile/cy_images/images/news_show.jpg" /></a>
            </div>
            <div class="news_area">
                <a href="#">上市去吧</a>
                <span>等级：恩平榕</span>
                <span>行业：咨询/培训</span>
            </div>
        </div>
        
        
        <div class="news_list01">
            <div class="news_map01">
            <a href="#"><img src="/static/mobile/cy_images/images/news_show.jpg" /></a>
            </div>
            <div class="news_area">
                <a href="#">上市去吧</a>
                <span>等级：恩平榕</span>
                <span>行业：咨询/培训</span>
            </div>
        </div>
    </div>
    
   
</div><div class="clear"></div>

{% endblock %}