{% extends "backend/base.html" %}
{% block main %}
		<form action="/backend/comments/save/" method="post">
		<article class="module width_full">
			<header><h3>评论管理</h3></header>
				<div class="module_content">
						<fieldset>
							<label>内容</label>
                            <input type="hidden" name="id" value="{{comment_info.id}}">
							<input type="text" name="comment" value="{{comment_info.comment}}">
						</fieldset>
						<div class="clear"></div>
				</div>
			<footer>
				<div class="submit_link">
					<input type="submit" value="发布" class="alt_btn">
					<input type="submit" value="重置">
				</div>
			</footer>
		</article><!-- end of post new article -->
		</form>
{% endblock %}