{% extends "backend/base.html" %}
{% block main %}
		
		<article class="module width_full"> <!-- class=width_3_quarter -->
		<header><h3 class="tabs_involved">管理评论</h3>
		<ul class="tabs">
    		<li><a href="/backend/comments/new/">新建评论</a></li>
		</ul>
		</header>

		<div class="tab_container">
			<div id="tab2" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
   					<th></th> 
    				<th width="70%">评论</th>
    				<th width="10%">提交者</th>
    				<th width="10%">提交时间</th>
    				<th width="10%">操作</th>
				</tr> 
			</thead> 
			<tbody>
            {% for i in comment_list %}
				<tr> 
   					<td><input type="checkbox"></td> 
    				<td>{{i.comment}}</td>
    				<td>{{i.user_name}}</td>
    				<td>{{i.submit_date | date:"Y-m-d"}}</td>
   				 	<td>
                        <a href="/backend/comments/edit/?id={{i.id}}"><input type="image" src="/static/backend/images/icn_edit.png" title="编辑"></a>
                        <input onclick="del_comment({{i.id}}, this);" type="image" src="/static/backend/images/icn_trash.png" title="删除"></td>
				</tr>
            {% endfor %}
			</tbody> 
			</table>

			</div><!-- end of #tab2 -->
        </div></article>
        <div style="margin-bottom:10px; padding:10px 20px">
            <ul class="tabs">
                <li><a href="/backend/comments/list/?page={{page|add:-1}}">上一页</a></li>
                <li><a href="/backend/comments/list/?page={{page|add:1}}">下一页</a></li>
            </ul>
        </div>
		
{% endblock %}
{% block bottom %}
<script type="text/javascript">
    function del_comment(id, obj){
        if (!confirm("是否确认删除？")){
            return;
        }
        var url = "/backend/comments/del/";
        $.post(url,{id:id},function(result){
            if (result.errorCode==0){
                $(obj).parent().parent().remove();
            }else{
                alert(errorCode.msg);
            }
        });
    }
</script>
{% endblock %}