	<section id="secondary_bar">
		<div class="user">
			<p>{{req.user}}(<a href="#">0 Messages</a>)</p>
			<a class="logout_user" href="/backend/logout" title="Logout">退出</a>
		</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="/backend/">站点管理</a> <div class="breadcrumb_divider"></div> <a class="current">控制台</a></article>
		</div>
	</section><!-- end of secondary bar -->
	
	<aside id="sidebar" class="column">
		<form class="quick_search">
			<input type="text" value="快捷搜索" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">
		</form>
		<hr/>
        {% for key,value in req.session.privileges.items %}
            <h3>{{value.name}}</h3>
            <ul class="toggle">
            {% for i in value.child %}
                <li class="{{i.icon}}"><a href="{{i.value}}">{{i.name}}</a></li>
            {% endfor %}
            </ul>
		{% endfor %}
            <h3>账户管理</h3>
            <ul class="toggle">
                <li class="icn_jump_back"><a href="/backend/resetpw">修改密码</a></li>
			    <li class="icn_jump_back"><a href="/backend/logout">退出</a></li>
            </ul>
		<footer>
			<hr />
			<p><strong>Copyright &copy; 2015 Website Admin</strong></p>
			<p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
		</footer>
	</aside><!-- end of sidebar -->