{% extends "backend/base.html" %}
{% block main %}
		<article class="module width_full"> <!-- class=width_3_quarter -->
		<header><h3 class="tabs_involved">用户管理</h3>
		</header>

		<div class="tab_container">	
			<div id="tab1" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
   					<th></th> 
    				<th width="25%">账号</th>
                    <th width="10%">账户类型</th>
                    <th width="15%">注册ip</th>
    				<th width="15%">注册时间</th>
                    <th width="10%">状态</th>
    				<th width="30%">操作</th>
				</tr> 
			</thead> 
			<tbody>
                {% for i in userlist %}
				<tr> 
   					<td><input type="checkbox"></td> 
    				<td><a href="/zhiyuw/member?userid={{i.id}}&t={{i.utype}}" target="_blank">{{i.username}}</a></td>
    				<td>{% ifequal i.utype 'ktq' %}
                            开拓圈
                        {% else %}
                            耕耘群
                        {% endifequal %}
                    </td>
                    <td>{{i.regip}}</td>
    				<td>{{i.created}}</td>
    				<td>{%ifequal i.status 1%}正常{%else%}未审核{%endifequal%}</td>
    				<td style="width:120px;"><a href="javascript:void(0);" onclick="audit_pass({{i.id}});">通过</a>&nbsp;&nbsp;
                    <a href="javascript:void(0);" onclick="audit_fail({{i.id}});">失效</a>&nbsp;
                    <a href="javascript:void(0);" onclick="reset_passwd({{i.id}});">重置密码</a>&nbsp;
                    <a href="/backend/profile?userid={{i.id}}&t={{i.utype}}" target="_blank">个人资料</a></td>
				</tr>
                {% endfor %}
			</tbody> 
			</table>
			</div><!-- end of #tab1 -->
		</div><!-- end of .tab_container -->
		</article><!-- end of content manager article -->
		<div style="margin-bottom:10px; padding:10px 20px">
            <ul class="tabs">
                <li><a href="/backend/users/list/?page=1">首页</a></li>
                <li><a href="/backend/users/list/?page={{page|add:-1}}">上一页</a></li>
                <li><a href="/backend/users/list/?page={{page|add:1}}">下一页</a></li>
                <li><a href="/backend/users/list/?page={{last_page}}">末页</a></li>
            </ul>
        </div>

{% endblock %}
{% block bottom %}
<script>
function audit_pass(id){
    if (confirm('确定操作？')){
        $.post("/backend/users/pass/",{id:id},function(result){
            if (result.errorCode==0){
                alert('操作成功');
            }else{
                alert('操作失败');
            }
            location.reload();
        });
    }
}
function audit_fail(id){
    if (confirm('确定操作？')){
        $.post("/backend/users/fail/",{id:id},function(result){
            if (result.errorCode==0){
                alert('操作成功');
            }else{
                alert('操作失败');
            }
            location.reload();
        });
    }
}
function reset_passwd(id){
    if (confirm('确定操作？')){
        $.post("/backend/users/reset_passwd/",{id:id},function(result){
            if (result.errorCode==0){
                alert(result.msg);
            }else{
                alert('操作失败');
            }
            location.reload();
        });
    }
}
</script>
{% endblock %}