@charset "utf-8";
/* CSS Document */
.header {

}

.logo01 {
    width: 366px; height:96px;

}

.call {
    height: 42px;
    line-height: 46px;
    padding-left: 44px;
    background: url(../images/qhy_2.png) no-repeat -263px 0;
    color: #21b0f2;
    font-size: 24px;
    font-style: oblique; margin-top:20px;
}


/*header end*/
/*indexline*/

.indexline {
    background: url(../images/line.png) repeat-x;
    height: 9px;
}
/*indexline end*/

#top{ width:100%; height:37px; }
.top{ width:1000px; height:37px; }
.top_nav{ float:left; display:block; width:720px; height:37px; }
.top_nav ul li{ float:left; display:block; text-align:left; padding-right:20px; line-height:37px;}
.top_nav ul li a{ font-size:12px; font-family:"微软雅黑"; color:#323232;}
.top_nav ul li a:hover{ color:#3257A5;}
.top_title{ float:right; display:block; width:260px; height:37px; }
.top_title ul li{ float:right; display:block; text-align:left; padding-left:15px; line-height:37px;font-size:12px; font-family:"微软雅黑"; color:#323232;}
.top_title ul li a{ font-size:12px; font-family:"微软雅黑"; color:#323232;}
.top_title ul li a:hover{ color:#3257A5;}

#nav{ width:100%; height:94px; background:url(../images/nav_bg.png) center repeat-x;}
.nav{ width:1000px; height:94px; }
.logo{ width:320px; height:93px;  float:left; display:block;}
.nav_area{ width:405px; height:93px; margin-left:130px;}
.nav_area ul li{ float:left; display:block; width:81px; line-height:93px; text-align:center;}
.nav_area ul li a{ width:81px; height:93px; float:left; display:block; font-size:14px; font-family:"微软雅黑"; color:#fff;}
.nav_area ul li a:hover{ width:81px; height:93px; float:left; display:block; font-size:14px; font-family:"微软雅黑"; color:#fff; background:url(../images/hover.png) no-repeat;}

#main{ width:100%; background:url(../images/bg.jpg) center repeat; display:block;}
.main{ width:1000px; height:990px; background:#fff; border-left:1px solid #D5D5D5; border-right:1px solid #D5D5D5; border-bottom:1px solid #D5D5D5;}

/*content*/


.index-left {
    width: 500px;
    text-align: center;
}
.index-left img{ float:left; display:block; margin-top:30px;}
.index-right {
    width: 493px;
}
/*index-land*/

.index-land {
    border: 1px solid #d2d2d2;
    border-top: 3px solid #41a9f0;
    width: 400px;
    margin-bottom: 125px;
    margin-left: 70px;
    margin-top: 80px;
}

.index-land h3 {
    font-size: 26px;
    text-align: center;
    color: #41a9f0;
    margin: 30px 0 20px;
}
/*==========以下部分是Validform必须的===========*/

.Validform_checktip {
    margin-left: 8px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    color: #999;
    font-size: 12px;
}

.Validform_right {
    color: #71b83d;
    padding-left: 20px;
    background: url(../images/right.png) no-repeat left center;
}

.Validform_wrong {
    color: red;
    padding-left: 20px;
    white-space: nowrap;
    background: url(../images/error.png) no-repeat left center;
}

.Validform_loading {
    padding-left: 20px;
    background: url(../images/onLoad.gif) no-repeat left center;
}

.Validform_error {
    background-color: #ffe7e7;
}

#Validform_msg {
    color: #7d8289;
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
    width: 280px;
    -webkit-box-shadow: 2px 2px 3px #aaa;
    -moz-box-shadow: 2px 2px 3px #aaa;
    background: #fff;
    position: absolute;
    top: 0px;
    right: 50px;
    z-index: 99999;
    display: none;
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');
}

#Validform_msg .iframe {
    position: absolute;
    left: 0px;
    top: -1px;
    z-index: -1;
}

#Validform_msg .Validform_title {
    line-height: 25px;
    height: 25px;
    text-align: left;
    font-weight: bold;
    padding: 0 8px;
    color: #fff;
    position: relative;
    background-color: #000;
}

#Validform_msg a.Validform_close:link,
#Validform_msg a.Validform_close:visited {
    line-height: 22px;
    position: absolute;
    right: 8px;
    top: 0px;
    color: #fff;
    text-decoration: none;
}

#Validform_msg a.Validform_close:hover {
    color: #cc0;
}

#Validform_msg .Validform_info {
    padding: 8px;
    border: 1px solid #000;
    border-top: none;
    text-align: left;
}
/*以下部分是Validform必须的 end*/

.registerform {
    margin: 0 27px 15px;
    padding-top: 15px;
}

.registerform td {
    padding: 5px 0;
    vertical-align: top;
    text-align: left;
}

.registerform .fleft {
    width: 70px; font-family:"微软雅黑";
    font-size: 16px;
    color: #444;
    text-align: right;
}

.registerform .inputxt {
    border: 1px solid #a5aeb6;
    width: 260px;
    width: 245px\9;
    padding: 5px 2px;
}

.registerform .inputxta {
    border: 1px solid #a5aeb6;
    padding: 5px 2px;
    width: 75px;
    float: left;
}

.yanimg img {
    border: 1px solid #a5aeb6;
    height: 34px;
    height: 30px\9;
    width: 80px;
    float: left;
    margin-left: 8px;
    margin-right: 11px;
    margin-right: 9px\9;
}

.yana {
    color: #018ceb;
    font-size: 12px;
}

.submita {
    background: url(../images/sbumit.png) no-repeat;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    text-align: center;
    width: 126px;
    margin-left: 25px;
}

.wjma {
    text-align: right;
}

.wjma a {
    color: #444;
}
.wjma a:hover{ color:#3257A5;}
.registerform td {
    line-height: 38px;
}

.Validform_checktip {
    margin-left: 0;
}

.info {
    border: 1px solid #ccc;
    padding: 2px 20px 2px 5px;
    color: #666;
    position: absolute;
    display: none;
    line-height: 20px;
    background-color: #fff;
}

.dec {
    bottom: -8px;
    display: block;
    height: 8px;
    overflow: hidden;
    position: absolute;
    left: 10px;
    width: 17px;
}

.dec s {
    font-family: simsun;
    font-size: 16px;
    height: 19px;
    left: 0;
    line-height: 21px;
    position: absolute;
    text-decoration: none;
    top: -9px;
    width: 17px;
}

.dec .dec1 {
    color: #ccc;
}

.dec .dec2 {
    color: #fff;
    top: -10px;
}
/*index-land end*/
.about {
    border: 1px solid #d2d2d2;
    margin-top: 45px;
    border-top: 3px solid #41a9f0;
    margin-bottom: 25px;
}

.informantionh3 h3 {
    background: url(../images/h3bj.png) no-repeat;
    color: #008ceb;
    font-size: 35px;
    height: 62px;
    line-height: 62px;
    margin: 45px 386px 0;
    padding-left: 75px;
}
.informantionul {
    margin: 30px 182px;
}

.informantionul ul li {
    float: left;
    font-size: 18px;
    margin: 0 10px;
    padding: 0 14px;
}

.activera {
    color: #008ceb;
}

.informantionul ul .linea {
    width: 1px;
    background: #ccc;
    padding: 0;
    height: 24px;
}

.informantionp {
    margin-bottom: 45px;
}

.informantionp p {
    margin: 0 50px;
    color: #444;
    font-size: 14px;
    line-height: 30px;
}
/*大学生相关信息 end*/
/*输入输出*/
.inputout h3 {
    color: #41a9f0;
    font-size: 26px;
    margin: 45px 0 10px 40px;
}
.amonga p {
    font-size: 24px;
    text-align: center;
    margin-top: 75px;
}
.amonga p a {
    color: #018ceb;
}
.amonga p input {
    width: 70px;
    border: 1px solid #d2d2d2;
    margin: 0 10px;
    color: #c10000;
}
.amonga span {
    display: block;
    font-size: 14px;
    padding-left: 240px;
    margin: 30px 0;
}
.amonga span a {
    color: #c10000;
}
.inputsubmit {
    margin: 50px 0 55px;
}
.inputsubmit a {
    background: url(../images/inputsubmit.png) no-repeat;
    color: #fff;
    display: block;
    font-size: 18px;
    height: 49px;
    line-height: 49px;
    margin: 0 auto;
    text-align: center;
    width: 200px;font-family:"微软雅黑";
}
.registerform .zcxxa {
    text-align: right; font-family:"微软雅黑";
    float: left;
    width: 96px;
}
.registerform .zcxxa span {
    color: #c80000;
    margin-right: 3px;
}
.registerform .xiala {
    width: 96px;
}
.registerform .selectwidth {
    display: block;
    width: 635px;
}


.regisspan span{
	display: block;
    margin:37px 176px 0;font-family:"微软雅黑";
}
.regisspan span i{
	color: #c80000;font-family:"微软雅黑";
}
/*输入输出 end*/


#footer{ width:100%; height:126px; background:#3B3B3B; border-top:1px solid #fff;}
.footer{ width:1000px; height:125px; }
.footer ul{ float:left; display:block; width:630px; height:30px; margin-left:185px; margin-top:30px; }
.footer ul li{float:left; display:block; text-align:center; padding-right:10px; padding-left:10px; line-height:30px;}
.footer ul li a{ font-size:12px; font-family:"微软雅黑"; color:#989898;}
.footer ul li a:hover{ color:#fff;}
.footer p{  width:630px; display:block; height:30px; line-height:30px; text-align:center; font-size:12px; font-family:"微软雅黑"; color:#989898; margin:0px auto;  float:left; margin-left:185px;}

#center{ width:820px; height:auto; border:1px solid red; display:block; float:right;}
.center_top{ width:100%; height:185px; border:1px solid red;}
.center_top p{ text-align:left; font-size:16px; font-family:"微软雅黑"; color:#3257A5; line-height:25px; padding-left:50px; padding-top:10px;}
.photo { width:100px; height:120px;background-color: #E5E2E2; margin: 10px 20px;}
.Murphy {
  float: left;
  display: block;
  width: 590px;
  height: auto;
  margin: 40px 36px;
}
.Murphy_list {
  float: left;
  display: block;
  width: 590px;
  height: auto;
  margin-bottom: 30px;
}
.Murphy_list strong {
  float: left;
  display: block;
  width: 100px;
  line-height: 20px;
  font-family: "微软雅黑";
  font-size: 16px;
  color: #1c1c1c;
  text-align: left;
  font-weight: normal;
  border-left: 6px solid #0581D0;
  padding-left: 8px;
}
.Murphy_list p {
  float: right;
  display: block;
  width: 470px;
  height: auto;
  text-align: left;
  line-height: 20px;
  color: #5D5D5D;
  font-family: "微软雅黑";
  font-size: 14px;
}
.head {
    float: left;
    display: block;
    width: 80%;
    height: 100%;
}
.head img{ -webkit-border-radius: 50em; -moz-border-radius: 50em; border-radius: 50em;  width:60px; height:60px;  margin-top:20px; float:left; }
.add_title{ width:100%; height:102px; border-bottom:1px solid #D3D3D3; float:left; display:block;}
.inputout {float:left; display:block; position:relative;margin: 20px 0px;}
.head span{ float:left; line-height:102px; margin-left:15px; font-family:"微软雅黑"; font-size: 15px;color: #444;}
.submit{ float:right; display:block; width:104px; height:43px;  }
.sub { display: block;  background:#3358A8; font-size: 16px; line-height: 43px; height: 43px; border: 0px; color: #FFF;   border-radius: 5px; width:104px; margin-top:30px;}
.add_aera{ width:100%; height:auto; float:left; display:block; margin-top:20px; margin-bottom:20px; }
.add_aera p{ float:left; display:block; width:100%; height:45px; line-height:45px; text-align:left; font-family:"微软雅黑"; font-size: 14px;color: #444;}
.add_aera p img{ float:left;}
.add_aera p span{ color:#069FE6; font-size:15px;}
.add_aera p em{ color:#FF6600; font-size:15px;}

.add_center{ width:100%; height: auto; border-bottom:1px solid #D3D3D3; float:left; display:block;}
.add_center p{ float:left; display:block; width:100%; height:45px; line-height:45px; text-align:left; font-family:"微软雅黑"; font-size: 14px;color: #444;}
.add_center p span{ color:#069FE6; font-size:15px;}
.add_center p em{ color:#FF6600; font-size:15px;}
.add_l{ width:100%; height: auto;  float:left; display:block;  }
.add_name{ width:100%; height:40px; line-height:40px; text-align:left; float:left; display:block;}
.add_name span{ font-family:"微软雅黑"; font-size: 16px;color:#079FE8; font-weight:bold; background:url(../images/piont05.png) left center no-repeat; padding-left:15px;}
.add_list01{ width:100%; float:left; display:block; height:auto; margin-bottom:5px; margin-top:5px;}
.add_img01{ float:left; display:block; width:82px; height:82px;  margin-right:10px;  }
.add_img01 img{ float:left; display:block; width:100%;  -webkit-border-radius: 50em; -moz-border-radius: 50em; border-radius: 50em; height:100%;}
.add_word{ float:right; display:block; width:668px; height:82px; }
.add_word b{ float:left; display:block; width:100%; line-height:25px; font-family:"微软雅黑"; font-size: 14px;color:#333333;}
.add_word_left{ float:left; width:50%;  height:57px;}
.add_word_left span{ float:left; display:block; width:166px; line-height:20px; font-family:"微软雅黑"; font-size: 12px;color:#333333;}
.add_word_right{ float:left; width:50%; height:57px;}
.add_word_right a{ float:right; line-height:57px; text-align:left; width:80px; font-family:"微软雅黑"; font-size: 12px;color:#333333;}
.add_word_right a:hover{ color:#1D94D9;}
.add_word_right a.lv{ background:url(../images/piont06.png) left center no-repeat; padding-left:25px;}
.add_word_right a.gz{ background:url(../images/piont07.png) left center no-repeat; padding-left:25px;}

.pages{ width:100%; height:35px; float:left; display:block; line-height:35px; font-family:"微软雅黑"; font-size: 14px;color: #444; text-align:center; }
.pages a{ float:left; text-align:center;display:block; background:#fff; margin:0px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color:#444; padding:0px 10px;}
.pages a.cur{ background:#3257A5; color:#fff;}
.pages a:hover{background:#3257A5; color:#fff}
.right_content {float: right;
    display: block;
    width: 838px;
    height: 100%;}
.add_list{ width:370px; height:80px; float:left; display:block; margin-bottom:20px;  margin-top:20px;}
.add_img{ float:left; display:block; width:80px; height:80px;  margin-right:10px;}
.add_img img{ float:left; display:block; width:100%;  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; height:100%;}
.add_w{ display:block; float:left;  width:280px; height:80px;}
.add_w b{  text-align:left; float:left; display:block; line-height:25px; font-family:"微软雅黑"; font-size: 14px;color: #444; width:100%;}
.add_w span{ text-align:left; float:left; display:block; line-height:18px; font-family:"微软雅黑"; font-size: 12px;color: #666; width:100%;}

#box {width: 760px; float:left; display:block; height:auto; }
#box span{ float:left; display:block; width:104px; height:43px; background:#069FE6; font-size: 16px; line-height: 43px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; text-align:center; color:#fff; position:absolute; top:30px; right:0px;  font-family:"微软雅黑"; cursor: pointer;}
#box ol {overflow: hidden;}
#box li {width:110px;float: left;background:#F0F0F0;text-align: center;position: relative;cursor: pointer;margin-bottom:14px; height:42px; line-height:42px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-left:8px; margin-right:8px; font-family:"微软雅黑"; font-size: 16px;}
.pro_name {display: block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;font-weight: 400; font-family:"微软雅黑"; font-size: 16px;}
.pro_name a {color: #333; font-family:"微软雅黑"; font-size: 16px; text-decoration: none;}
#box li:hover .add_btn {display: block;}
.add_btn {background: #ff6700;height:42px;position: absolute;width: 100%;bottom: 0;left: 0;line-height:42px;display: none;color: #FFF;font-size: 18px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.car {width: 760px;margin: 20px auto;background: #FFF; float:left; display:block; height:auto; }
.car .name {width:110px; height:auto; text-align:center; float:left; display:block; font-family:"微软雅黑"; font-size: 16px;}
.car .name a{ background:#F0F0F0; width:110px; height:42px; float:left; display:block;  -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color:#333;}
.car .ctrl {width:26px;padding-right: 25px;text-align: center; float:left; display:block;}
.car .ctrl a {font-size: 20px;cursor: pointer;display: block;width: 26px;height: 26px; margin-top:8px; line-height: 26px; color:#000;}
.car .ctrl a:hover {color: #FFF;background: #ff6700;}
.head_row {height:30px;line-height:30px;}
.row {height:42px;line-height:42px;  margin:20px 8px;  float:left; display:block; }
.hid {overflow: hidden;}
.navigate_submit {background: #F0F0F0;
text-align: center;
position: relative;
cursor: pointer;
border-radius: 5px;
width: 58px;
height: 30px;
}
.nav-del {
    margin: 10px 0 0 6px;
    height: 15px;
    width: 15px;
    display: none;
    zoom: 1;
    vertical-align: top;
}
.del-icon {
    cursor: pointer;
    font-size: 0;
    background: url(/static/members/cy_images/images/point_icon.png) no-repeat -142px 0;
    _background: url(/static/members/cy_images/images/point_icon.png) no-repeat -142px 0;
    zoom: 1;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.nav-del:hover .del-icon {
    background: url(/static/members/cy_images/images/point_icon.png) no-repeat -142px -17px;
    _background: url(/static/members/cy_images/images/point_icon.png) no-repeat -142px -17px;
}
.nav-item-edit {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    margin-top: 13px;
    height: 12px;
    width: 12px;
    cursor: pointer;
    font-size: 0;
    background: url(/static/members/cy_images/images/point_icon.png) no-repeat -182px -13px;
    _background: url(/static/members/cy_images/images/point_icon.png) no-repeat -182px -13px;
}
.nav-text {
    display: none;
    zoom: 1;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
    text-align: left;
    line-height: 37px;
    height: 36px;
    cursor: move;
}
