<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "favicon.ico" %}">

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static "zhiyuw/cy_images/css/basic.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "zhiyuw/cy_images/css/style.css" %}" />
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<script type="text/javascript" src="{% static "zhiyuw/cy_images/js/jquery-1.10.2.min.js" %}" ></script>
<script type="text/javascript" src="{% static "zhiyuw/cy_images/js/jquery.kinMaxShow-1.0.min.js" %}" ></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block script %}
<script type="text/javascript">
    $(function(){
        $("#kinMaxShow").kinMaxShow();
    });
    function qiehuan(a, b, c, d){ //qiehuan切换类
    var $ = function(a){return document.getElementById(a)};
    var css = a.split((b||'_'));
    if(css.length!=4)return;
    this.event = d || 'onclick';
    a = $(a);
    if(a){
    this.ITEM = [];
    a.id = css[0];
    var item = a.getElementsByTagName(css[1]);
    var j=1;
    for(var i=0;i<item.length;i++){
    if(item[i].className.indexOf(css[2])>=0 || item[i].className.indexOf(css[3])>=0){
    if(item[i].className == css[2])a['cur'] = item[i];
    item[i].callBack = c||function(){};
    item[i]['css'] = css;
    item[i]['link'] = a;
    this.ITEM[j] = item[i];
    item[i]['Index'] = j++;
    item[i][this.event] = this.ACTIVE;
    }
    }
    return a;
    }
    }
    qiehuan.prototype = {
    ACTIVE:function(){
    var $ = function(a){return document.getElementById(a)};
    this['link']['cur'].className = this['css'][3];
    this.className = this['css'][2];
    try{
    $(this['link']['id']+'_'+this['link']['cur']['Index']).style.display = 'none';
    $(this['link']['id']+'_'+this['Index']).style.display = 'block';
    }catch(e){}
    this.callBack.call(this);
    this['link']['cur'] = this;
    }
    }
    //加入收藏
    function AddFavorite(sURL, sTitle) {
            sURL = encodeURI(sURL);
        try{
            window.external.addFavorite(sURL, sTitle);
        }catch(e) {
            try{
                window.sidebar.addPanel(sTitle, sURL, "");
            }catch (e) {
                alert("加入收藏失败，请使用Ctrl+D进行添加,或手动在浏览器里进行设置.");
            }
        }
    }
    //设为首页
    function SetHome(url){
        if (document.all) {
            document.body.style.behavior='url(#default#homepage)';
               document.body.setHomePage(url);
        }else{
            alert("您好,您的浏览器不支持自动设置页面为首页功能,请您手动在浏览器里设置该页面为首页!");
        }
    }

    (function($){
        $.fn.capacityFixed = function(options) {
            var opts = $.extend({},$.fn.capacityFixed.deflunt,options);
            var FixedFun = function(element) {
                var top = opts.top;
                element.css({
                    "top":top
                });
                $(window).scroll(function() {
                    var scrolls = $(this).scrollTop();
                    if (scrolls > top) {

                        if (window.XMLHttpRequest) {
                            element.css({
                                position: "fixed",
                                top: 0
                            });
                        } else {
                            element.css({
                                top: scrolls
                            });
                        }
                    }else {
                        element.css({
                            position: "absolute",
                            top: top
                        });
                    }
                });
                element.find(".close-ico").click(function(event){
                    element.remove();
                    event.preventDefault();
                })
            };
            return $(this).each(function() {
                FixedFun($(this));
            });
        };
        $.fn.capacityFixed.deflunt={
            right : 0,//相对于页面宽度的右边定位
            top:123
        };
    })(jQuery);

    $(document).ready(function(){
        $(".navbg").capacityFixed();
        $("#navul > li").not(".navhome").hover(function(){
            $(this).addClass("navmoon");
        },function(){
            $(this).removeClass("navmoon");
        });
    });
</script>
{% endblock %}

{% block extra_head %}{% endblock %}
</head>

<body>
{% block header %}
<div id="top">
	<div class="top w1000">
    <p>欢迎光临职语网！
        {% if request.session.isLogin %}
            <label><a href="/members">{{request.session.info.username}}</a></label><a href="/zhiyuw/logout">退出</a>
        {% else %}
            <a href="/zhiyuw/login">登录</a><a href="/zhiyuw/register">注册</a>
        {% endif %}
    </p>
    <div class="top_right fr">
        	<div class="p">
            <a onclick="SetHome(window.location)" href="javascript:void(0)">设为首页</a>
            | <a onclick="AddFavorite(window.location,document.title)" href="javascript:void(0)">加入收藏</a> | <a href="/zhiyuw/contact">联系我们</a>
            </div>
    </div>
    </div>
</div><div class="clear"></div>

<div id="header">
	<div class="header w1000">
    	<div class="logo fl">
        <a href="/zhiyuw"><img src="{% static "zhiyuw/cy_images/images/logo.png" %}" width="373" height="71" /></a>
        </div>
        <div class="tel_area fr">
        	<div class="tel">
            <img src="{% static "zhiyuw/cy_images/images/tel.png" %}" width="259" height="34" />
            </div>
            <div class="search">
            <table width="295" border="0" cellpadding="0" cellspacing="0" height="31">
            <form action="/zhiyuw/search" name="search_form" method="get">
                  <tr>
                    <td width="232" height="31"><input type="text" name="kw" value="请输入信息..." style="width:232px; height:31px; border:none; background:url({% static "zhiyuw/cy_images/images/search.jpg" %}) center no-repeat; padding-left:15px; margin-top:15px; *margin-top:5px;  *padding-top:15px;  "  /></td>
                    <td width="57"><a href="#" style=" position: relative; top:7px; *top:2px;"><img src="{% static "zhiyuw/cy_images/images/search_.jpg" %}" width="57" height="31" onclick="javascript:search_form.submit();" /></a></td>
                  </tr>
            </form>
            </table>
            </div>
        </div>
    </div>
</div><div class="clear"></div>
{% endblock %}

<div id="nav" class="navbg">
	<div class="nav w1000">
    	{% page_menu "zhiyuw/menus/dropdown.html" %}
    </div>
</div><div class="clear"></div>
{% block position %}
<div id="kinMaxShow">
    	<!-- 首页banner -->
		{% for i in position_imgs %}
        <div>
        	<a href="{{i.url}}"><img src="{{i.src}}"  /></a>
        </div>
        {% endfor %}

</div>
<div class="clear"></div>
{% endblock %}

{% block main %}{% endblock %}

{% block link %}{% endblock %}

{% include "zhiyuw/footer.html" %}
{% block foot_extra %}{% endblock %}
</body>
</html>
