{% extends "zhiyuw/base.html" %}
{% load i18n %}

{% block meta_title %}{{cate_name}}{% endblock %}

{% block main %}

<div id="main" >
	<div class="main w1000">
    <div id="left" class="fl">
    	<div class="left_title">
        <img src="/static/zhiyuw/cy_images/images/piont09.jpg" width="18" height="15" /><p><b>{{cate_name}}</b><span>当前位置：<a href="/">首页</a> >>{{cate_name}}</span></p>
        </div>
        <div class="left_area">
        	<div class="left_area_news">
        	<ul>
            {% for i in cate_list %}
                <li><a href="{{i.url}}" title="{{i.title}}">{{i.title|slice:"35"}}</a><a class="name" href="{{i.url}}">{{i.user_name}}</a><span>{{i.created | date:"Y-m-d"}}</span></li>
            {% endfor %}
            </ul>
            </div>
            <div class="clear"></div>
            <div class="pages">
                <div id="pages">
                    {% ifnotequal page 1 %}
                        <a href="/zhiyuw/{{cate}}?page={{page|add:-1}}">上一页</a>
                    {% endifnotequal %}
                    <label>{{page}}/{{total_page}}</label>
                    {% ifnotequal page total_page %}
                        <a href="/zhiyuw/{{cate}}?page={{page|add:1}}">下一页</a>
                    {% endifnotequal %}
                    <p style="display:inline-block;">
                        <input type="text" style="width:30px;" placeholder="页码" id="page_num"/>
                        <input type="button" onclick="location.href=location.pathname + '?page=' + $('#page_num').val()" value="Go!">
                    </p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div id="right" class="fr">
        {% include "zhiyuw/latest_blog.html" %}
        {% include "zhiyuw/contact_small.html" %}
    </div>
</div></div>
<div class="clear"></div>

{% endblock %}
