{% extends "zhiyuw/base.html" %}
{% load i18n %}

{% block meta_title %}{{cate_name}}{% endblock %}

{% block main %}
<div id="main" >
	<div class="main w1000">
    <div id="left" class="fl">
    	<div class="left_title">
            <img src="/static/zhiyuw/cy_images/images/piont09.jpg" width="18" height="15" />
            <p><b>{{cate_name}}</b><span>当前位置：<a href="/">首页</a> >>{{cate_name}}</span></p>
        </div>
        <div class="left_area">
            <div style="font-size: 14pt; text-align: left; padding: 10px;">
            <p class="contact_us" >
            <b>安徽员倍财务服务有限公司</b><br>
            地址：合肥市瑶海区凤阳路澳澜宝邸B座1405室<br>
            电话：0551-63631832  曹国富<br>
            </p>
            <p class="contact_us">
            <b>池州市国员人力资源服务有限公司</b><br>
            地址：池州市青阳县经济开发区东河园电子商务大楼315室<br>
            电话：0566-5031361  曹国富<br>
            </p>
            <p class="contact_us">
            <b>池州青阳县华洲国源财务咨询有限公司</b><br>
            地址：池州市青阳县经济开发区东河园电子商务大楼313室<br>
            电话：0566-5031361   赵根平<br>
            </p>
            <p class="contact_us">
            <b>桐城市华洲国源财务咨询服务有限公司</b><br>
            地址：桐城市文昌街道胜利社区滨河广场5#306室<br>
            电话：0556-6561219   周满生<br>
            </p>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div id="right" class="fr">
        {% include "zhiyuw/latest_blog.html" %}
        {% include "zhiyuw/contact_small.html" %}
    </div>
</div>
</div>
<div class="clear"></div>
{% endblock %}