<div class="right_contact">
  <div class="right_contact_title">
    <p>联系我们</p>
  </div>
  <div class="right_contact_map">
      <p><span><img src="/static/zhiyuw/cy_images/images/piont2.jpg" width="26" height="23" /></span>咨询热线： 0566-5031361</p>
      <p><span><img src="/static/zhiyuw/cy_images/images/piont13.jpg" width="24" height="19" /></span>公司地址：池州市青阳县经济开发区东河园电子商务大楼315室</p>
      <p><span><img src="/static/zhiyuw/cy_images/images/piont14.jpg" width="17" height="20" /></span>联 系 人： 曹国富</p>
  </div>
</div>