{% load i18n future pages_tags %}
<div id="footer">
	<div class="footer w1000">

        {% page_menu "zhiyuw/menus/footer.html" %}

    	<p>
       联系电话：0566-5031361   联系人：曹国富</p>
        <p>Copyright 职语网 All Rights Reserved  技术支持:<a href=""http://www.chuyikeji.com/" target="_blank">楚易科技</a></p>
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256990464'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1256990464' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
</div>
