{% extends "zhiyuw/base.html" %}
{% load i18n %}

{% block meta_title %}找回密码{% endblock %}
{% block position %}{% endblock %}
{% block main %}
<div class="showMsg" style="text-align:center">
    <div class="content guery" style="padding:40px;width:90%; margin:40px auto;">
        <form action="/zhiyuw/fgpassword" method="post" class="resetpw">
            <p>
                <div style="font-size:1.6em;"><b>找回密码流程：</b>输入账户 -> 验证身份 -> 重置密码</div>
            </p>
            <p style="font-size: 15px;">
                密码重置成功，您现在可以通过新密码进行<a href="/zhiyuw/login">登录</a>了！
            </p>
        </form>
    </div>
</div>
{% endblock %}