{% extends "zhiyuw/base.html" %}
{% load i18n %}

{% block meta_title %}找回密码{% endblock %}
{% block position %}{% endblock %}
{% block main %}
<div class="showMsg" style="text-align:center">
    <div class="content guery" style="padding:40px;width:90%; margin:40px auto;">
        <form action="/zhiyuw/fgpassword" method="post" class="resetpw">
            <p>
                <div style="font-size:1.6em;"><b>找回密码流程：</b>输入账户 -> 验证身份 -> 重置密码</div>
            </p>
            <p>
                <input type="hidden"  name="sid" value="{{sid}}">
                <input type="hidden"  name="userName" value="{{user_name}}">
                <input type="password" autocomplete="off" class="input-default" id="reset" name="password" placeholder="请输入重置密码" value="" tabindex="1">
            </p>
            <p>
                <input type="password" autocomplete="off" class="input-default" id="reset2" placeholder="请输入确认密码" value="" tabindex="2">
            </p>
            <p>
                <input class="btn btn-primary btn6 mr10" value="提交" type="button" onclick="check()">
            </p>
        </form>
    </div>
</div>
<script>
    function check(){
        var reset = $('#reset').val().trim();
        var reset2 = $('#reset2').val().trim();
        if(reset=='' || reset2=='' || reset.length<6 || reset2.length<6){
            alert('密码长度至少为6位');
            return false;
        }
        if (reset!=reset2){
            alert('两次密码输入不相同！')
            return false;
        }
        $('.resetpw').submit();
    }
</script>
{% endblock %}