{% extends "zhiyuw/base.html" %}
{% load i18n %}

{% block meta_title %}找回密码{% endblock %}
{% block position %}{% endblock %}
{% block main %}
<div class="showMsg" style="text-align:center">
    <div class="content guery" style="padding:40px;width:90%; margin:40px auto;">
        <form action="/zhiyuw/fgpassword" method="post" class="resetpw">
            <p>
                <div style="font-size:1.6em;"><b>找回密码流程：</b>输入账户 -> 验证身份 -> 重置密码</div>
            </p>
            <p style="font-size: 15px;">
                重置密码链接已发送至注册邮箱：fi**3@163.com，请在30分钟内尽快登录邮箱并激活链接进行密码重置。
            </p>
        </form>
    </div>
</div>
{% endblock %}