@charset "utf-8";
/* CSS Document */
#top{ width:100%; height:24px; background:url(../images/top_bg.jpg) center repeat-x;}
.top{ width:1000px; height:24px; overflow:hidden; }
.top p{ float:left; line-height:24px; }
.top p a{ padding-left:5px; color:#454545;}
.top p a:hover{ color:#208DCE;}
.top_right{ float:right; line-height:24px; width:190px; }
.top_right a{ color:#454545;}
.top_right a:hover{ color:#208DCE;}

#header{ width:100%; height:96px; float:left; display:block;  background:url(../images/tel_bg.jpg) center right no-repeat; *margin-top:-4px;}
.header{ width:1000px; height:96px;  overflow:hidden;}
.logo{ margin-top:12px;}
.tel_area{ width:300px; height:96px; }
.tel{ float:right; display:block; margin-top:5px;}
.search{ width:300px; height:31px; float:right; display:block;}


/**#nav{ width:100%; height:41px; background:url(../images/nav_bg.jpg) center repeat-x; *margin-top:-3px;}**/
.navbg {height: 41px;width: 100%;background: url(../images/nav_bg.jpg) center repeat-x;position: absolute;z-index: 999999;left: 0;}
.nav{ width:1000px; height:41px; }
.nav ul li{ float:left; display:block; width:90.5px; line-height:41px; background:url(../images/nav.jpg) right center no-repeat;}
.nav ul li.last{ background:none;}
.nav ul li a{ font-family:"微软雅黑"; font-size:14px; color:#fff; width:90.5px; height:41px; float:left; display:block;}
.nav ul li a:hover{ background:url(../images/li.jpg) center no-repeat; width:93.5px; height:40px; float:left; display:block; margin-top:-2px; margin-left:-3px; color:#000;}
#kinMaxShow{visibility:hidden;width:100%; height:400px; overflow:hidden;text-align:left; *margin-top:-4px;}

#news{ width:100%; height:auto;  margin:0px auto;  background:url(../images/bg.jpg) center repeat; float:left; display:block; ;}
.information{ background:url(../images/information_bg.jpg) center no-repeat; width:328px; height:347px; margin-right:15px; margin-top:5px;}
.information_title{ width:328px; height:32px;  overflow:hidden;}
.information_title img{ float:left; padding-left:5px; margin-top:8px;}
.information_title p{ text-align:left; line-height:30px; padding-left:5px; font-family:"微软雅黑"; font-size:16px; color:#fff; float:left;}
.information_title a{ float:right; display:block; font-family:"微软雅黑"; font-size:12px; color:#ADADAD; line-height:32px; padding-right:20px;}
.information_title a:hover{ color:#208DCE;}
.information_area{ width:310px; height:300px; }
.information_area ul li{ float:left; display:block; width:310px; line-height:25px; text-align:left; background:url(../images/piont02.jpg) left center no-repeat; margin-left:5px;}
.information_area ul li a{ padding-left:10px; color:#454545;}
.information_area ul li a:hover{ color:#208DCE;}

.login{ width:312px; height:347px;  background:url(../images/login_bg.jpg) no-repeat; margin-top:5px;}
.qiehuan3{width:304px; height:34px; margin-top:3px; margin-left:4px;}
.qiehuan3 ul{margin:0;padding:0;}
.qiehuan3 li{float:left;height:34px;line-height:34px;text-align:center; cursor:pointer; width:152px; font-family:"微软雅黑"; font-size:14px; display:block;}

.qiehuan3 li.qiehuan_line{
	border-right:none;
	}
.qiehuan3 li.now{color: #fff; background:#007CCC;  font-family:"微软雅黑"; font-size:14px;}
.qiehuanlist01{width:290px;height: auto; float:left;font-size:14px;line-height:24px; display:none;  background:#fff; margin-left:10px; margin-top:20px;}
.block{display:block;}
.test_area01{ width:630px; height:260px; margin-left:15px; }
.login_area{ width:270px; height:260px; border-bottom:1px dashed #DCDCDC; }
.reg_field {  width:200px; height:33px; border:none; line-height:33px; margin-right: 20px;}
.login_area p{ float:left; margin-top:20px; font-size:12px; line-height:33px}
#image{ float:left; margin-top:20px; margin-bottom:15px; display:block; margin-left:15px;}
#reg_form p { padding-left:200px; font-size:12px; line-height:33px; text-align:left;}
.login_qq{ width:270px; height:100px; }
.login_qq a{ float:left; display:block; line-height:40px; font-size:12px; color:#454545;}
.login_qq a:hover{ color:#208DCE;}
.login_qq img{ margin-top:40px;}
.comments {text-align:left; display:block; margin:20px 0;padding:0 20px; background: #FFF;}
.comments_user {font-size: 20px; color: #1233DB; padding: 10px;}
.comments_content {font-size:18px; padding: 10px 20px;}
#develop{ width:100%; height:auto; margin:0px auto; background:url(../images/bg.jpg) center repeat; float:left; display:block; *margin-top:-5px; }
.develop{ width:1000px; height:32px; border-bottom:1px solid #C8C8C8;}
.develop_title{ width:160px; height:32px; background:#007CCC; float:left;}
.develop_title img{ float:left; margin-top:9px; padding-left:5px;}
.develop_title p{ text-align:left; line-height:30px; padding-left:5px; font-family:"微软雅黑"; font-size:16px; color:#fff; float:left;}
.develop_title span{  text-align:left; margin-top:8px; padding-left:8px; font-family:"微软雅黑"; font-size:12px; color:#fff; float:left;}
.develop a{ float:right; display:block; margin-top:2px;}

.develop_map{ background:url(../images/develop_bg.png) center no-repeat; width:198px; height:210px; overflow:hidden; margin:20px 1px 0px 1px;}
.develop_area{ width:194px; height:153px; }
.develop_area img{  float:left;  margin-left:2px; display:block; margin-top:2px;}
.develop_words{width:194px; height:50px;  float:left; display:block;}
.develop_words p{ text-align:left; line-height:25px; padding-left:5px; font-family:"微软雅黑"; font-size:16px; color:#000; float:left; width:95%; display:block; height:25px;}
.develop_words a{ float:left; display:block; font-family:"微软雅黑"; font-size:12px; color:#454545; line-height:25px; width:95%; height:25px; text-align:left; padding-left:5px;}
.develop_words a:hover{ color:#208DCE;}


#case_information{ width:100%; height:auto;  background:url(../images/bg.jpg) center repeat; float:left; display:block; *margin-top:-5px;}
.case_information{ background:url(../images/case_bg.jpg) center no-repeat; width:328px; height:363px; margin-right:5px; margin-top:10px;}
.case_information_title{ width:328px; height:32px;  overflow:hidden;}
.case_information_title img{ float:left; padding-left:5px; margin-top:8px;}
.case_information_title p{ text-align:left; line-height:30px; padding-left:5px; font-family:"微软雅黑"; font-size:16px; color:#fff; float:left;}
.case_information_title a{ float:right; display:block; font-family:"微软雅黑"; font-size:12px; color:#ADADAD; line-height:32px; padding-right:20px;}
.case_information_title a:hover{ color:#208DCE;}
.case_information_area{ width:310px; height:300px; }
.case_information_area ul li{ float:left; display:block; width:310px; line-height:25px; text-align:left; background:url(../images/piont02.jpg) left center no-repeat; margin-left:5px;}
.case_information ul li a{ padding-left:10px; color:#454545;}
.case_information ul li a:hover{ color:#208DCE;}


#link{ width:100%; height:auto;  margin:0px auto; background:url(../images/bg.jpg) center repeat; float:left; display:block; *margin-top:-5px;}
.link{ width:1000px; height:auto; display:block; margin-top:10px;}
.link_title{ width:1000px; height:26px; overflow:hidden;}
.link_title img{ margin-left:-3px;}
.link_area{ width:1000px; height:auto; float:left; display:block; background:#EFEFEF; margin-bottom:20px;}
.link_area img{ margin-bottom:10px; margin-top:10px; margin-left:15px; float:left; display:block; }

#links{ width:100%; height:auto;  margin:0px auto; background:url(../images/bg.jpg) center repeat; float:left; display:block;}
.links{ width:1000px; height:auto; display:block; margin-top:10px; margin-bottom:20px; }
.links_title{ width:70px; height: auto;  float:left; display:block;}
.links_title p{ text-align:left; line-height:25px; font-family:"微软雅黑"; font-size:14px; color:#007CCC;  float:left;}
.links ul{ width:930px; height:auto; display:block; float:left; }
.links ul li{ float:left; display:block; padding-right:10px; line-height:25px;}
.links ul li a{ color:#454545;}
.links ul li a:hover{ color:#007CCC;}


#footer{ background:url(../images/footer_bg.jpg) center repeat-x; width:100%; height:121px; *margin-top:-5px; }
.footer{ width:1000px; height:121px; }
.footer ul{ width:720px; height:35px;  margin:0 auto; }
.footer ul li{ float:left; display:block; width:72px; line-height:35px; background:url(../images/footer_nav.jpg) right center no-repeat;}
.footer ul li.last{ background:none;}
.footer ul li a{ color:#454545;}
.footer ul li a:hover{ color:#208DCE;}
.footer p{ line-height:30px;}
.footer p a{ color:#454545;}
.footer p a:hover{ color:#000;}


#main{ width:100%; height:auto; background:url(../images/bg.jpg) center repeat; float:left; display:block;}
#left{ width:670px; height:auto; float:left; display:block; margin-top:45px;}
.left_title{ width:670px; height:30px; border-bottom:1px solid #CCCCCC;}
.left_title img{ float:left; padding-left:5px; margin-top:8px; margin-right:5px;}
.left_title p{ text-align:left; line-height:30px; padding-left:5px; font-family:"微软雅黑"; font-size:16px; color:#000; display:block; }
.left_title p b{ float:left;}
.left_title p span{ float:right; line-height:30px; display:block; font-family:"宋体"; font-size:12px;}
.left_title p span a{ color:#454545;}
.left_title p span a:hover{ color:#208DCE;}

.left_area{ width:670px; height:auto; float:left; display:block; margin-top:20px; background:#FFF;}
.articles{  width:670px; height:30px; background:#007CCC; border:1px solid #D6D6D6;}
.articles p{ text-align:left; color:#FFF; font-size:15px; font-family:"微软雅黑"; line-height:30px; padding-left:8px;}
.left_area_news ul li{ float:left; display:block;  text-align:left; line-height:30px; width:650px; background: url(../images/li_bg.jpg) bottom repeat-x; margin-left:5px;}
.left_area_news ul li a{ float:left; display:block; background:url(../images/piont02.jpg) left center no-repeat; padding-left:10px; width:450px;}
.left_area_news ul li a.name{ background:none; display:block; width:100px;  text-align:center;}
.left_area_news ul li span{ float:right; display:block;}
.left_area_news ul li a{ color:#454545;}
.left_area_news ul li a:hover{color:#208DCE; }

.pages{ width:660px; height:30px;  text-align:center; line-height:30px; margin-top:20px; margin-bottom:30px;}
.page{ width:1000px; height:30px;  text-align:center; line-height:30px; margin-top:20px; margin-bottom:30px;}


#right{ width:304px; height:auto; float:right; display:block; margin-top:45px;}
.right_news{ width:304px; height: auto; background:#FFF; float:right; display:block; }
.right_title{ height:30px; width:302px; background:#007CCC; border:1px solid #D6D6D6;}
.right_title img{ float:left; padding-left:5px; margin-top:8px; margin-right:5px;}
.right_title p{ text-align:left; line-height:30px; padding-left:5px; font-family:"微软雅黑"; font-size:16px; color:#fff; display:block; }
.right_news ul li{ float:left; display:block; background:url(../images/piont11.jpg) left center no-repeat; line-height:30px; text-align:left; margin-left:5px; width:280px; }
.right_news ul li a{ color:#454545; padding-left:20px;}
.right_news ul li a:hover{color:#208DCE; }
.right_contact{ width:304px; height: 185px; float:left; display:block; margin-top:20px; background:#FFF; overflow:hidden;}
.right_contact_title{ height:30px; width:302px; background:#007CCC; border:1px solid #D6D6D6;}
.right_contact_title p{ text-align:left; line-height:30px; padding-left:10px; font-family:"微软雅黑"; font-size:16px; color:#fff; display:block; }
.right_contact_map{ background:url(../images/contanct.jpg) center no-repeat; width:297px; height:145px; }
.right_contact_map p{ text-align:left; line-height:35px; width:200px; float:left; display:block; line-height:25px; margin-top:10px; margin-left:10px;}
.right_contact_map p span{ margin-right:10px; margin-top:1px; float:left; display:block;}


#case{ width:100%; height:auto;  margin:0px auto; background:url(../images/bg.jpg) center repeat; float:left; display:block;}
.case{ width:1000px; height:auto;  display: block; }
.case_title{ width:1000px; height:30px; background:#007CCC; margin-top:5px;}
.case_title img{ float:left; padding-left:5px; margin-top:8px; margin-right:5px;}
.case_title p{ text-align:left; line-height:30px; padding-left:5px; font-family:"微软雅黑"; font-size:16px; color:#fff; display:block; }
.case span{ width:980px; height:20px; float:left; display:block; text-align:left; margin-left:10px; margin-top:15px; }
.case ul li{ float:left; display:block;  height:25px; line-height:25px; text-align:center; margin-left:20px; margin-top:10px; }
.case ul li a{ float:left; display:block; color:#454545; background:#FFF;  height:25px; padding-left:10px; padding-right:10px;}
.case ul li a:hover{ background:#70D89F; float:left; padding-left:10px; padding-right:10px; display:block; color:#fff; height:25px;}

.case_area{ width:1000px; float:left; display:block; background:#FFF; height:auto; margin-top:20px; margin-bottom:20px;}
.case_map{ width:194px; height:286px; float:left; display:block; margin:30px 30px 0px 25px;}
.case_map a{ float:left; display:block; width:194px; height:148px;}
.caption{ width:194px; height:25px;  float:left; display:block; margin-top:5px;}
.caption img{ float:right; width:30px; height:25px; margin-right:5px;} 
.case_map p{ width:194px; height:25px; line-height:25px; text-align:left; padding-left:5px; float:left;}
.case_map p b{ color:#14A638;}
.case_map ul{ width:194px; height:25px;  float:left; }
.case_map ul li{ float:left; display:block; width:100%;  line-height:25px; height:25px; text-align:left; margin-left:5px; margin-top:0px;}

.job_map{ width:310px; height:146px; float:left; display:block; margin:30px 7px 0px 13px; }
.job_left{ float:left; display:block; width:129px; height:146px; }
.job_area{ width:170px; height:146px;  display:block; float:right;}
.job_map p{ width:165px; height:25px; line-height:25px; text-align:left; padding-left:5px; float:left; }
.job_map p b{ color:#14A638;}
.job_map ul{ width:170px; height:25px;  float:left; }
.job_map ul li{ float:left; display:block; width:80px;  line-height:25px; height:25px; text-align:left; margin-left:5px; margin-top:0px;}


.tab1{width:438px;height:39px; margin-top:20px; float:left; }
.tab1 ul{margin:0;padding:0; }
.tab1 li{float:left;height:31px;line-height:31px;text-align:center; width:87.6px;  background:#FFF;}
.tab1 li.tab_line{
	border-right:none;
	}
.tab1 li.now{color: #fff;background: url(../images/li_bg01.jpg)  no-repeat;  float:left; display:block; width:87px; height:39px;}

.tablist{width:670px; height: auto; font-size:12px; line-height:25px; border:1px #DAD9D7 solid; display:none;  background:#fff;  margin-top:20px; margin-left:4px;}
.block{display:block;}

#test1_1{ width:660px; height:auto; float:left; display:block; margin-top:20px; background:#FFF;}
.test1_1_title{ width:660px; border-bottom:1px solid #E5E5E5; height:30px; }
.test1_1_title p{ line-height:30px; text-align:left; margin-left:5px; color:#208DCE;}
.test1_1_area ul li{ float:left; display:block;  text-align:left; line-height:35px; width:650px; background: url(../images/li_bg.jpg) bottom repeat-x; margin-left:5px;}
.test1_1_area ul li a{ float:left; display:block; background:url(../images/piont02.jpg) left center no-repeat; padding-left:10px; width:450px;}
.test1_1_area ul li a.name{ background:none; display:block; width:100px;  text-align:center;}
.test1_1_area ul li span{ float:right; display:block;}
.test1_1_area ul li a{ color:#454545;}
.test1_1_area ul li a:hover{color:#208DCE; }

.left_area_contact{ margin-top:20px;}
.left_area_contact p{ text-align:left; height:25px; line-height:25px; padding-left:10px; }
.left_area_contact img{ text-align:left; float:left; padding-left:10px;}

.archives_area{ text-align:left; padding-left:10px;}
.archives_area img{ margin-top:20px;}
.archives_area p{ text-align:left; line-height:25px;}

#sina_keyword_ad_area2 img { max-width: 100%;}
.Murphy {float: left;display: block;width: 590px;height: auto;margin: 40px 36px;}
.Murphy_list {float: left;display: block;width: 590px;height: auto;margin-bottom: 30px;}
.Murphy_list strong {float: left;display: block;width: 100px;line-height: 20px;font-family: "微软雅黑";font-size: 16px;color: #1c1c1c;text-align: left;font-weight: normal;border-left: 6px solid #0581D0;padding-left: 8px;}
.Murphy_list p {float: right;display: block;width: 470px;height: auto;text-align: left;line-height: 20px;color: #5D5D5D;font-family: "微软雅黑";font-size: 14px;}

.main-wrap {
  min-height: 100%;
  display: block;
}
.result-wrap {
  padding: 10px 20px;
  border-bottom: 1px solid #e5e5e5;
}
.insert-tab {
  border-collapse: collapse;
  border: 1px solid #eee;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.insert-tab tr {
  line-height: 40px;
}
.insert-tab th {
  text-align: right;
  font-weight: normal;
  padding-right: 10px;
  font-size: 14px;
}
.insert-tab th, .insert-tab td {
  border: 1px solid #eee;
}
.insert-tab td {
  text-align: left;
  padding-left: 10px;
}
.insert-tab th, .insert-tab td {
  border: 1px solid #eee;
}
.common-text {
  height: 23px;
  line-height: 23px;
  padding: 2px 4px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 5px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s,box-shadow linear 0.2s;
  -o-transition: border linear 0.2s,box-shadow linear 0.2s;
  transition: border linear 0.2s,box-shadow linear 0.2s;
}
.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255,255,255,0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: -o-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: linear-gradient(to bottom,#ffffff,#e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top,#0088cc,#0044cc);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#0088cc),to(#0044cc));
  background-image: -webkit-linear-gradient(top,#0088cc,#0044cc);
  background-image: -o-linear-gradient(top,#0088cc,#0044cc);
  background-image: linear-gradient(to bottom,#0088cc,#0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn6 {
  width: 120px;
}
#kinMaxShow {margin-top:41px;}
.form-group {
  width: 500px;
  float: left;
  display: block;
  margin-bottom: 20px;
}
.contact_us {
    margin-bottom: 20px;
}